<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>公司展示</title>
        
    <script>
        var _czc = _czc || [];
        _czc.push(["_setAccount", "1260955674"]);
    </script>

    <script src="../../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../../static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/index.css" type="text/css">
</head>
<body>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260955674'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260955674' type='text/javascript'%3E%3C/script%3E"));</script>
    <div class="wrap">
        <div class="content">
            <div class="line-index"></div>
            <div class="js-company-720">
                <a href="javascript:void(0);" id="company-720">
                    <div class="company-title">
                        公司全景
                    </div>
                    <div class="company-720">
                        <div class="company-720-bg"></div>
                        <span class="company-720-btn"></span>
                    </div>
                </a>
                <div class="line-index"></div>
            </div>
            <div class="js-company-video">
                <div class="company-title">
                    公司视频    
                </div>
                <div class="company-video">
                    <!-- <div></div>
                    <span></span> -->
                </div>
                <div class="line-index"></div>
            </div>
            <div class="company-title company-border-bottom js-company-pics">
                公司实景    
            </div>
            <ul class="company-list">
                <!-- <li class="company-item">
                    <div class="company-item-title">
                        01
                    </div>
                    <div class="company-item-describe">
                        总监Amos是空间设计的诗意领航者，带着我们遨游于精致舒适、身心舒展的优质空间。顶尖设计、精英团队 Elite Team从精心设计到专业施工，人员采取分组分工制参与
                    </div>
                    <img class="company-item-pic" src="/static/img/1.jpg" />
                </li> -->
            </ul>
        </div>
        <!-- 公司视频弹层 -->
        <div class="company-mask">
            <div>
                <div>
                    <video id="company-video" src="" controls>
                        your browser does not support the video tag
                    </video>
                </div>
            </div>
        </div>
        <!-- 公司视频弹层  End-->
    
        <!-- WIFI提示 -->
        <div class="wifi-mask">
            <div>
                <div>
                    <div class="wifi-frame">
                        <div class="wifi-content">
                            当前处于非wifi网络，继续查看将耗费手机流量
                        </div>
                        <div class="wifi-btn clearfix">
                            <div class="wifi-Lbtn fl">是</div>
                            <div class="wifi-Rbtn fr">否</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- WIFI提示 End-->

        <!-- 下载 -->
        <div class="bottom">
            <div class="bottom-logo"></div>
            <div class="bottom-slogen"></div>
            <a class="bottom-btn js-download" href="javascript:void(0);">立即下载</a>
            <div class="bottom-close"></div>
        </div>
        <!-- 下载 End-->
        <!-- 微信下载提示 -->
        <div class="wxTips">
            <div></div>
        </div>
        <!-- 微信下载提示 End-->
    </div>


    <script src="../../static/js/libs/zepto.min.js"></script>
    <script src="../../static/js/libs/jweixin-1.0.0.js"></script>
    <script src="../../static/js/libs/fastclick.js"></script>
    <script src="../../static/js/config.js"></script>
    <script src="../../static/js/share.js"></script>
    <script src="../../static/js/case/companyShow.js"></script>
    <script src="../../static/js/download.js"></script>
</body>
</html>