<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <!-- 去掉移动web页面自动探测电话号码 -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>鹦鹉美家</title>
    
    <script>
        var _czc = _czc || [];
        _czc.push(["_setAccount", "1260955674"]);
    </script>

    <script src="../../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../../static/css/reset.css" type="text/css ">
    <link rel="stylesheet" href="../../static/css/list.css" type="text/css">
</head>
<body>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260955674'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260955674' type='text/javascript'%3E%3C/script%3E"));</script>
    <div class="wrap">
        <div class="content">
            <div class="banner">
                <ul class="list-banner clearfix">
                    <li>
                        <a href="#">
                            <img src="../../static/img/bank1.jpg" alt="">
                            <div></div>
                        </a>
                    </li>
                    <li>
                        <a href="http://mp.weixin.qq.com/s?__biz=MzI3MDE3Njc5Ng==&mid=2649558472&idx=1&sn=cccd19c29069d2d470bac6ccc623b36f&chksm=f2ccaabbc5bb23ad70724116da022ddde8f232f972e275e9193a13f0827c011e7247d76bedbc">
                            <img src="../../static/img/bank-bh.png" alt="">
                            <div></div>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="list-title">
                浏览真实作品
            </div>
            <ul class="list-case">
                

                <!-- <li class="listItem">
                    <a href="http://customer.yingwumeijia.com/images/aa000efef87f4d7cb7a84cbd2a4a930a/720case/share.html?caseId=1050&type=720&bool=true">
                        <div class="listPic">
                            <img src="http://o8nljewkg.bkt.clouddn.com/o_1arg5f5dh180tmt71qb9ciu1rucr.jpg&imageView2/2/w/720" alt="">
                        </div>
                        <div class="listInfo clearfix">
                            <h3 class="fl">家，就在这里</h3>
                            <p class="fr">新古典欧式 / 平层 / 57万</p>
                        </div>
                    </a>
                </li>
                <li class="listItem">
                    <a href="http://customer.yingwumeijia.com/images/2579bb877f124e288b4417501bff043b/uYOd/share.html?caseId=1064&type=720&bool=true">
                        <div class="listPic">
                            <img src="http://o8nljewkg.bkt.clouddn.com/o_1as4dtfubu2qpi59q0abrbcl1f.jpg&imageView2/2/w/720" alt="">
                        </div>
                        <div class="listInfo clearfix">
                            <h3 class="fl">名流公馆</h3>
                            <p class="fr">洛可可欧式 / 平层 / 72万</p>
                        </div>
                    </a>
                </li>
                <li class="listItem">
                    <a href="http://customer.yingwumeijia.com/images/c6097ca84b114d528fc69c30ce5390da/720case/share.html?caseId=1052&type=720&bool=true">
                        <div class="listPic">
                            <img src="http://o8nljewkg.bkt.clouddn.com/o_1arg2akkob6t1hb186l16t1c9lr.jpg&imageView2/2/w/720" alt="">
                        </div>
                        <div class="listInfo clearfix">
                            <h3 class="fl">歌乐庄</h3>
                            <p class="fr">北欧 / 联排 / 143万</p>
                        </div>
                    </a>
                </li>
                <li class="listItem">
                    <a href="http://customer.yingwumeijia.com/images/419d5ba2fa0b4ba397ded4dde9c095a9/720case/share.html?caseId=1049&type=720&bool=true">
                        <div class="listPic">
                            <img src="http://o8nljewkg.bkt.clouddn.com/o_1arg4djcd12ri110o1foqvh1j10r.jpg&imageView2/2/w/720" alt="">
                        </div>
                        <div class="listInfo clearfix">
                            <h3 class="fl">越影</h3>
                            <p class="fr">新古典欧式 / 平层 / 76万</p>
                        </div>
                    </a>
                </li>
                <li class="listItem">
                    <a href="http://customer.yingwumeijia.com/images/878b51a023384915bc7a0ad8225c5dda/720case/share.html?type=720&caseId=1054&bool=true">
                        <div class="listPic">
                            <img src="http://o8nljewkg.bkt.clouddn.com/o_1arg5kg671g0fpa8ckk1g8g5ssr.jpg&imageView2/2/w/720" alt="">
                        </div>
                        <div class="listInfo clearfix">
                            <h3 class="fl">古典美式雍江御庭</h3>
                            <p class="fr">殖民地美式 / 平层 / 102万</p>
                        </div>
                    </a>
                </li>
                <li class="listItem">
                    <a href="http://customer.yingwumeijia.com/images/244a6083c0b04afba8265d3c189aa745/6xkc/share.html?caseId=1067&type=720&bool=true">
                        <div class="listPic">
                            <img src="http://o8nljewkg.bkt.clouddn.com/o_1ashkpdau1jpp61l1n6g9ildq2d.jpg&imageView2/2/w/720" alt="">
                        </div>
                        <div class="listInfo clearfix">
                            <h3 class="fl">融创凡尔赛美式</h3>
                            <p class="fr">港式 / 联排 / 169.8万</p>
                        </div>
                    </a>
                </li>
                <li class="listItem">
                    <a href="http://customer.yingwumeijia.com/images/4216e96d096e43f1991deb25fe53b5bd/720case/share.html?caseId=1056&type=720&bool=true">
                        <div class="listPic">
                            <img src="http://o8nljewkg.bkt.clouddn.com/o_1arg652g01j761fvc1j4ot4a4sqr.jpg&imageView2/2/w/720" alt="">
                        </div>
                        <div class="listInfo clearfix">
                            <h3 class="fl">醇美香槟</h3>
                            <p class="fr">新古典欧式 / 独栋 / 483万</p>
                        </div>
                    </a>
                </li>
                <li class="listItem">
                    <a href="http://customer.yingwumeijia.com/images/b8d08821686545a0aaf36984f2db501b/sJ0s/share.html?caseId=1062&type=720&bool=true">
                        <div class="listPic">
                            <img src="http://o8nljewkg.bkt.clouddn.com/o_1as4feuun1l951ebl1ec11mmb11mmr.jpg&imageView2/2/w/720" alt="">
                        </div>
                        <div class="listInfo clearfix">
                            <h3 class="fl">新古典欧式</h3>
                            <p class="fr">新古典欧式 / 平层 / 76万</p>
                        </div>
                    </a>
                </li> -->
            </ul>
            <div class="list-slideDown">
                上拉加载更多真实作品
            </div>
        </div>
    </div>
    <script src="../../static/js/libs/zepto.min.js"></script>
    <script src="../../static/js/config.js"></script>
    <script src="../../static/js/case/list.js"></script>
</body>
</html>