<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>实景照片</title>
        
    <script>
        var _czc = _czc || [];
        _czc.push(["_setAccount", "1260955674"]);
    </script>

    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../static/css/index.css" type="text/css">
</head>
<body>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260955674'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260955674' type='text/javascript'%3E%3C/script%3E"));</script>
    <div class="wrap">
        <div class="content">
            <div class="realScene-list">
                <!-- <div class="realScene-item">
                    <div class="realScene-title">
                        标题
                    </div>
                    <div class="realScene-describe">
                        客厅角度无家具效果图
                    </div>
                    <div class="realScene-pic">
                        <img src="/static/img/1.jpg" alt="">
                    </div>
                </div> -->
            </div>
            <div class="realScene-title">
                设计理念
            </div>
            <div class="realScene-describe realScene-designConcept">
            </div>
        </div>
        <!-- 下载 -->
        <div class="bottom">
            <div class="bottom-logo"></div>
            <div class="bottom-slogen"></div>
            <a class="bottom-btn js-download" href="javascript:void(0);">立即下载</a>
            <div class="bottom-close"></div>
        </div>
        <!-- 下载 End-->
        <!-- 微信下载提示 -->
        <div class="wxTips">
            <div></div>
        </div>
        <!-- 微信下载提示 End-->
    </div>


    <script src="../static/js/libs/zepto.min.js"></script>
    <script src="../static/js/libs/jweixin-1.0.0.js"></script>
    <script src="../static/js/libs/fastclick.js"></script>
    <script src="../static/js/config.js"></script>
    <script src="../static/js/share.js"></script>
    <script src="../static/js/realScene.js"></script>
    <script src="../static/js/download.js"></script>
</body>
</html>