<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>图片浏览</title>
        
    <script>
        var _czc = _czc || [];
        _czc.push(["_setAccount", "1260955674"]);
    </script>

    <script src="../../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../../static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/index.css" type="text/css">
</head>
<body>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260955674'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260955674' type='text/javascript'%3E%3C/script%3E"));</script>
    <div class="wrap">
        <div class="content">
            <div class="scan-frame">
                <ul class="scan-list clearfix">
                    <!-- <li class="scan-item">
                        <div class="scan-picBox">
                            <img src="/static/img/1.jpg" alt="">
                        </div>
                        <div class="scan-content">
                            <div class="scan-describe">
                                <h3>第一层</h3>
                                <p>在这宛如艺术宫廷的现代住宅中</p>
                            </div>
                        </div>
                    </li> -->
                </ul>
                <div class="scan-page">
                    <span></span>/<span></span>
                </div>
            </div>
        </div>
    </div>

    <script src="../../static/js/libs/zepto.min.js"></script>
    <script src="../../static/js/libs/jweixin-1.0.0.js"></script>
    <script src="../../static/js/config.js"></script>
    <script src="../../static/js/share.js"></script>
    <script src="../../static/js/case/scan.js"></script>
</body>
</html>