<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>服务详情</title>
        
    <script>
        var _czc = _czc || [];
        _czc.push(["_setAccount", "1260955674"]);
    </script>

    <script src="../../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../../static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/index.css" type="text/css">
</head>
<body>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260955674'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260955674' type='text/javascript'%3E%3C/script%3E"));</script>
    <div class="wrap">
        <div class="content">
            <div class="service-header">
                <img class="service-header-bg" src="../../static/img/service_top_pic.png" alt="">
                <div class="service-Info">
                    <div class="service-portrait-box">
                        <img class="service-portrait-img" src="" alt="">
                    </div>
                    <div class="service-Info-name">
                        <!-- 熊林 <span>主创设计</span> -->
                    </div>
                    <div class="service-Info-company"></div>
                </div>
            </div>
            <div class="line-index"></div>
            <div class="data-main">
                <div class="data-main-title">服务详情</div>
                <ul class="service-list">
                    <!-- <li class="service-item">
                        <div class="service-item-price">¥ 300</div>
                        <div class="service-item-title">【1】 预约咨询</div>
                        <div class="service-item-desc">预约到项目现场或您指定地点，面谈项目需求及业务咨询，填写项目需求表。签订设计委托设计协议，支付设计收款。</div>
                    </li>
                    <li class="service-item">
                        <div class="service-item-other">免费</div>
                        <div class="service-item-title">【1】 预约咨询</div>
                        <div class="service-item-desc">预约到项目现场或您指定地点，面谈项目需求及业务咨询，填写项目需求表。签订设计委托设计协议，支付设计收款。</div>
                    </li> -->
                </ul>
            </div>
            <img src="../../static/img/service_bottom_pic.png" alt="" class="service-footer">
        </div>

        <!-- 下载 -->
        <div class="bottom">
            <div class="bottom-logo"></div>
            <div class="bottom-slogen"></div>
            <a class="bottom-btn js-download" href="javascript:void(0);">立即下载</a>
            <div class="bottom-close"></div>
        </div>
        <!-- 下载 End-->
        <!-- 微信下载提示 -->
        <div class="wxTips">
            <div></div>
        </div>
        <!-- 微信下载提示 End-->
    </div>


    <script src="../../static/js/libs/zepto.min.js"></script>
    <script src="../../static/js/libs/jweixin-1.0.0.js"></script>
    <script src="../../static/js/libs/fastclick.js"></script>
    <script src="../../static/js/config.js"></script>
    <script src="../../static/js/share.js"></script>
    <script src="../../static/js/case/service.js"></script>
    <script src="../../static/js/download.js"></script>
</body>
</html>