@import "mixin";

/**
 * 通用样式
 */

$font-42: 42px;
$font-F1: 36px;
$font-F2: 34px;
$font-F3: 30px;
$font-F4: 28px;
$font-F5: 26px;
$font-F6: 24px;
$font-F7: 22px;
$color-C1: #282828;
$color-C2: #bbbbbb;
$color-C3: #e6e6e6;
$color-C4: #737373;
$color-C5: #a8a8a8;
$color-C6: #f56d9d;
$color-C7: #f5f5f5;

#cnzz_stat_icon_1260955674 {
    display: none;
}

.line-index {
    width: 100%;
    @include px2rem(height, 20px);
    background-color: #f5f5f5;
    border-top: 1px solid $color-C3;
}
.bg-c7 {
    background-color: $color-C7;
}

.wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.content {
    position: absolute;
    top: 1.2rem;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    @include css3(overflow-scrolling, touch);
    @include css3(user-select, none);
}
.notitle {
    top: 0;
}
.title {
    width: 100%;
    @include px2rem(height,36px);
    @include px2rem(line-height,36px);
    @include px2rem(font-size,$font-F1);
    padding: 0.36rem 0;
    text-align: center;
    position: relative;
    border-bottom: 1px solid $color-C3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #ffffff;
    color: $color-C1;
}
.title span {
    @include px2rem(width,42px);
    @include px2rem(height,36px);
    background-image:url(../img/nav_back_ico@3x.png);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    bottom: 0.36rem;
    left: 0.52rem;
}
.title .share {
    @include px2rem(width,39px);
    @include px2rem(height,41px);
    background-image:url(../img/nav_share_ico@3x.png);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    bottom: 0.36rem;
    right: 0.52rem;
}
// ios
.ios .content {
    top: 1.6rem;
}
.ios .title {
    padding: 0.76rem 0 0.36rem 0; 
}
.listNone {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    overflow: hidden;
}
.list {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.listItem {
    @include px2rem(width,750px);
    @include px2rem(height,504px);
    overflow: hidden;
}
.listItem-pic {
    @include px2rem(width,750px);
    @include px2rem(height,423px);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.listItem-recommend {
    display: none;
    @include px2rem(width,80px);
    @include px2rem(height,68px);
    background-image: url(../img/activity_list_tag@3x.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    @include px2rem(left,10px);
}
.listItem-status {
    @include px2rem(width,192px);
    @include px2rem(height,36px);
    border:1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    @include px2rem(font-size,$font-F3);
    @include px2rem(line-height,36px);
    padding: 0.2rem 0;
    text-align: center;
    position: absolute;
    bottom: 1.08rem;
    left: 3.72rem;
}
.listItem-info {
    width: auto;
    @include px2rem(height, 27px);
    padding: 0.36rem 0.4rem;
    background-color: #ffffff;
}
.listItem-time {
    width: auto;
    @include px2rem(height, 27px);
    @include px2rem(line-height, 27px);
    background-image: url(../img/activity_list_time_ico@3x.png);
    background-position: center left;
    background-size: 0.36rem 0.36rem;
    background-repeat: no-repeat;
    text-indent: 0.48rem;
    color: $color-C4;
}
.listItem-location {
    width: auto;
    @include px2rem(height, 27px);
    @include px2rem(line-height, 27px);
    background-image: url(../img/activity_list_map_ico@3x.png);
    background-position: center left;
    background-size: 0.36rem 0.36rem;
    background-repeat: no-repeat;
    text-indent: 0.48rem;
    color: $color-C4;
}

/* 优惠详情 */
.detail-cover {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.detail-cover-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.detail-cover-bg {
    width: 100%;
    @include px2rem(height, 124px);
    background-image: url(../img/activity_detail_title_shadow_ico@3x.png);
    background-repeat: repeat-x;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
}
.detail-cover img {
    width: 100%;
}
.detail-Info {
    width: auto;
    height: auto;
    margin: 0.72rem 0.52rem;
    overflow: hidden;
    position: relative;
}
.detail-Info-title {
    @include px2rem(width, 540px);
    height: auto;
    @include px2rem(line-height, 60px);
    @include px2rem(font-size,$font-42);
    color: $color-C1;
    font-weight: bold;
    margin-bottom: 0.48rem;
}
.detail-Info-location {
    width: auto;
    @include px2rem(height, 27px);
    @include px2rem(line-height, 27px);
    background-image: url(../img/activity_list_map_ico@3x.png);
    background-position: center left;
    background-size: 0.36rem 0.36rem;
    background-repeat: no-repeat;
    text-indent: 0.48rem;
    color: $color-C4;
    position: absolute;
    top: 0.2rem;
    right: 0;
}
.detail-Info-summary {
    width: 100%;
    height: auto;
    @include px2rem(line-height, 60px);
    @include px2rem(font-size,$font-F4);
    color: $color-C4;
    margin-bottom: 0.2rem;
}
.detail-Info-date {
    width: auto;
    @include px2rem(height, 27px);
    @include px2rem(line-height, 27px);
    background-image: url(../img/activity_list_time_ico@3x.png);
    background-position: center left;
    background-size: 0.36rem 0.36rem;
    background-repeat: no-repeat;
    text-indent: 0.48rem;
    color: $color-C4;
}
.detail-details {
    width: auto;
    height: auto;
    margin: 0 0.52rem;
    overflow: hidden;
    position: relative;
    border-top: 1px solid $color-C3;
}
.detail-details-title {
    width: auto;
    color: $color-C1;
    @include px2rem(font-size, 32px);
    margin-top: 0.6rem;
    margin-bottom: 0.36rem;
}
.detail-details-text {
    width: 100%;
    height: auto;
    @include px2rem(line-height, 60px);
    @include px2rem(font-size,$font-F4);
    color: $color-C4;
    margin-bottom: 0.36rem;
}
.detail-details-pic {
    display: none;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 0.60rem;
    position: relative;
}
.detail-details-pic div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.detail-details-pic img {
    width: 100%;
    margin-bottom: 0.28rem;
}
.detail-details-pic img:last-child {
    margin-bottom: 0;
}
.detail-details-btn {
    display: none;
    width: 100%;
    @include px2rem(height, 20px);
    margin: 0 auto 0.4rem auto;
    background-image: url(../img/work_yctd_info_more_ico@3x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;     
}
.detail-details-active {
    @include css3(transform,rotate(180deg));
}
.detail-company {
    width: auto;
    height: auto;
    margin: 0 0.52rem 0.4rem 0.52rem;
    overflow: hidden;
    position: relative;
}
.detail-company-logo {
    @include px2rem(width, 81px);
    @include px2rem(height, 81px);
    border: 1px solid $color-C3;
    overflow: hidden;
    position: absolute;
    top: 0.44rem;
    left: 0;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.detail-company-logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.detail-company-title {
    width: 100%;
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    padding: 0.4rem 0;
    @include px2rem(font-size, $font-F4);
    color: $color-C1;
    border-bottom: 1px solid $color-C3;
}
.detail-company-list {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.detail-company-item {
    width: auto;
    height: auto;
    position: relative;
    padding: 0.44rem 0.48rem 0.44rem 1.64rem;
    border-bottom: 1px solid $color-C3;
}
.detail-company-name {
    width: 100%;
    color: $color-C1;
    @include px2rem(font-size, $font-F4);
}
.detail-company-summary {
    width: 100%;
    margin: 0.16rem 0;
    @include px2rem(height, 84px);
    @include px2rem(line-height, 42px);
    color: $color-C5;
    @include px2rem(font-size, $font-F6);
    @include ell(2);
}
.detail-company-data {
    width: 100%;
    @include px2rem(height, 48px);
    font-size: 0;
    -webkit-text-size-adjust:none;
}
.detail-company-plan {
    width: auto;
    padding: 0 0.16rem;
    @include px2rem(height, 48px);
    @include px2rem(line-height, 48px);
    text-align: center;
    background-color: #fff4f7;
    display: inline-block;
    color: $color-C6;
    @include px2rem(font-size, $font-F4);
    margin-right: 0.28rem;
}
.detail-company-owner {
    width: auto;
    padding: 0 0.16rem;
    @include px2rem(height, 48px);
    @include px2rem(line-height, 48px);
    background-color: #F6F6F6;
    display: inline-block;
    color: $color-C4;
    @include px2rem(font-size, $font-F4);
}
.detail-company-arrow {
    @include px2rem(width, 15px);
    @include px2rem(height, 30px);
    position: absolute;
    @include px2rem(top, 112px);
    right: 0;
    background-image: url(../img/work_details_more_ico@3x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* 商家简介 */
.company-logo {
    @include px2rem(width, 192px);
    @include px2rem(height, 192px);
    border: 1px solid $color-C3;
    border-radius: 50%;
    overflow: hidden;
    margin: 0.4rem auto 0.72rem auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.company-logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.company-name {
    margin-bottom: 0.4rem;
    text-align: center;
    height: auto;
    width: 100%;
    @include px2rem(font-size, $font-F2);
    color: $color-C1;
}
.company-summary {
    width: auto;
    @include px2rem(height, 162px);
    @include px2rem(font-size, $font-F5);
    color: $color-C4;
    @include px2rem(line-height, 54px);
    margin: 0 0.52rem 0.4rem 0.52rem;
    overflow: hidden;
    text-align: center;
    word-break:break-all;
    word-wrap:break-word; 
}
.company-summary-active {
    height: auto;
}
.company-btn {
    display: none;
    width: 100%;
    @include px2rem(height, 20px);
    margin: 0 auto 0.4rem auto;
    background-image: url(../img/work_yctd_info_more_ico@3x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;                   
}
.company-btn-active {
    @include css3(transform,rotate(180deg));
}
.company-actor {
    width: auto;
    margin: 0 0.52rem;
}
.company-actor-title {
    width: 100%;
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    padding: 0.4rem 0;
    @include px2rem(font-size, $font-F4);
    color: $color-C1;
    border-bottom: 1px solid $color-C3;
}
.company-actor-list {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0.2rem 0;
}
.company-actor-list ul {
    width: auto;
    height: auto;
    margin-top: 0.2rem;
    margin-right: -0.48rem;
}
.company-actor-list li {
    @include px2rem(width, 81px);
    @include px2rem(height, 81px);
    margin-right: 0.48rem;
    margin-bottom: 0.2rem;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;     
}
.company-actor-list li img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.company-case {
    width: auto;
    margin: 0 0.4rem;
    height: auto;
}
.company-case-title {
    width: 100%;
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    padding: 0.4rem 0;
    @include px2rem(font-size, $font-F4);
    color: $color-C1;
}
.company-case-list {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.company-case-list ul {
    margin-right: -0.4rem;
}
.company-case-list li {
    @include px2rem(width, 330px);
    height: auto;
    margin-right: 0.4rem;
    overflow: hidden;
    float: left;
}
.company-case-list div {
    @include px2rem(width, 330px);
    @include px2rem(height, 330px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}
.company-case-list div img {
    width: 100%;
    height: 100%;
}
.company-case-list p {
    width: 100%;
    text-align: center;
    @include px2rem(font-size, $font-F5);
    color: $color-C4;
    @include px2rem(height, 36px);
    @include px2rem(line-height, 36px);
    margin: 0.52rem 0;
    @include ell(1);
}
.coupon {
    width: auto;
    height: auto;
    overflow: hidden;
    margin:0 0.4rem;
    padding-top: 0.4rem;
    border-top: 1px solid $color-C3;
}
.coupon-frame {
    @include css3(box-sizing, border-box);
    width: 100%;
    height: auto;
    border: 1px solid $color-C6;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0.4rem;
}
.coupon-logo {
    @include px2rem(width, 120px);
    @include px2rem(height, 120px);
    background-image:url(../img/mine_ticket_list_light_ico@3x.png);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    top: 0.52rem;
    left: 0.52rem;
}
.coupon-name {
    width: auto;
    height: auto;
    @include px2rem(font-size, $font-F1);
    color: $color-C6;
    margin: 0.48rem 0 0.28rem 2.64rem;
    @include ell(1);
}
.coupon-info {
    width: auto;
    @include px2rem(height, 36px);
    @include px2rem(line-height, 36px);
    @include px2rem(font-size, $font-F2);
    color: $color-C1;
    margin: 0 0 0.48rem 2.64rem;
    font-weight: bold;
     @include ell(1);
}
.coupon-number {
    width: auto;
    height: auto;
    @include px2rem(font-size, $font-F6);
    color: $color-C1;
    margin: 0 0 0.52rem 2.64rem;
    font-weight: bold;
}
.coupon-detail {
    width: auto;
    margin: 0 0.4rem;
    @include px2rem(font-size, $font-F6);
    color: $color-C5;
    border-top: 1px dashed $color-C5;
    padding: 0.3rem 0;
    height: auto;
}
.coupon-detail-btn span {
    background-image:url(../img/work_yctd_info_more_ico@3x.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: relative;
    top: -1px;
    margin-left: 0.24rem;
    @include px2rem(width, 21px);
    @include px2rem(height, 12px);
}
.coupon-detail-active span {
     @include css3(transform,rotate(180deg));
}
.coupon-hide {
    display: none;
    width: auto;
    margin: 0 0.4rem;
    @include px2rem(font-size, $font-F6);
    color: $color-C5;
    padding-bottom: 0.3rem;
    height: auto;
}
.coupon-bottom {
    width: 100%;
    height: auto;
    background-color: $color-C6;
    color: #ffffff;
    text-align: center;
    @include px2rem(font-size, $font-F3);
    padding: 0.4rem 0;
}

// 无内容或加载出错时
.benefit-noContent-image {
    width: 4rem;
    height: 4rem;
    margin: 2.6rem auto 1rem auto;
    border-radius: 50%;
    background-image: url(../img/no_collection_ico@3x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.benefit-noContent-text {
    width: 100%;
    height: auto;
    text-align: center;
    @include px2rem(font-size, $font-F4);
    color: $color-C5;
    display: block;
}

/* 分享页面 */
.activity-details-btn {
    display: block;
}
.activity-details-pic {
    display: block;
}
[v-cloak] {
  display: none;
}

/**
 * 底部链接
 */
.bottom {
    width: 100%;
    @include px2rem(height, 74px);
    padding: 0.64rem 0;
    background-color: rgba(255,255,255,0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #e53573;
    z-index: 10001;
}
.bottom-logo {
    @include px2rem(width, 186px);
    @include px2rem(height, 40px);
    background-repeat:no-repeat;
    background-position: center center;
    background-size:contain;
    background-image: url(../img/download_ywmj_logo@3x.png);
    position: absolute;
    @include px2rem(top, 48px);
    @include px2rem(left, 34px);
    overflow: hidden;
}
.bottom-slogen {
    @include px2rem(width, 367px);
    @include px2rem(height, 25px);
    background-repeat:no-repeat;
    background-position: center center;
    background-size:contain;
    background-image: url(../img/download_slogn_txt@3x.png);
    position: absolute;
    @include px2rem(top, 100px);
    @include px2rem(left, 34px);
    overflow: hidden;
}
.bottom-btn {
    @include px2rem(width, 184px);
    @include px2rem(height, 74px);
    background-color: #e53573;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    @include px2rem(top, 50px);
    @include px2rem(right, 120px); 
    display: block;
    text-align: center;
    @include px2rem(font-size, 28px);
    @include px2rem(line-height, 74px);
}
.bottom-btn:hover {
    text-decoration: none;
}
.bottom-close {
    @include px2rem(width, 30px);
    @include px2rem(height, 30px);
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;
    background-image: url(../img/download_close_ico@3x.png);
    position: absolute;
    @include px2rem(top, 14px);
    @include px2rem(right, 40px);
}

.show {
    display: block;
}

/**
 * 微信下载提示
 */
.wxTips {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 10002;
}
.wxTips div {
    @include px2rem(width, 300px);
    @include px2rem(height, 160px);
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;
    background-image: url(../img/wxTips.png);
    position: absolute;
    top: 0;
    @include px2rem(right, 40px);
}

/* 仿iOS toast */
.js-toast {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 30%;
}
.js-toast p {
    display:table; 
    margin:0 auto; 
    text-align: center;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    @include px2rem(height,36px);
    @include px2rem(line-height,36px);
    @include px2rem(font-size,$font-F4);
    color: #ffffff;
    background-color: rgba(0,0,0,0.8);
}