@import "mixin";

/**
 * 通用样式
 */

$font-30: 30px;
$font-28: 28px;
$font-24: 24px;
$font-22: 22px;
$color-font1: #282828;
$color-font2: #737373;
$color-font3: #a8a8a8;

#cnzz_stat_icon_1260955674 {
    display: none;
}

.wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    @include css3(overflow-scrolling, touch);
    background-color: #f5f5f5;
    @include css3(user-select, none);
}
.banner {
    width: 10rem;
    height: 4rem;
    overflow: hidden;
}
.list-banner {
    width: 20rem;
    height: 4rem;
}
.list-banner li {
    float: left;
    width: 10rem;
    height: 4rem;
    overflow: hidden;
    position: relative;
}
.list-banner li img {
    width: 100%;
    height: 100%;
}
.list-banner li div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.list-title {
    width: 100%;
    height: 1.2rem;
    text-align: center;
    @include px2rem(height, 36px);
    @include px2rem(line-height, 36px);
    @include px2rem(font-size, $font-30);
    color: $color-font1;
    padding: 0.36rem 0;
    background-color: #ffffff;
}

/**
 * 案例列表
 */
.list-case {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.listItem {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e6e6e6;
    background-color: #ffffff;
    margin-bottom: 0.28rem;
}
.listPic {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
}
.listPic img {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
}
.listPic-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.listInfo {
    width: 100%;
    height: 1.52rem;
    overflow: hidden;
}
.listInfo h3 {
    @include px2rem(height, 36px);
    @include px2rem(line-height, 36px);
    @include px2rem(font-size, $font-30);
    color: $color-font1;
    margin: 0.52rem 0 0.52rem 0.52rem;
    width: 3.5rem;
    @include ell(1);
}
.listInfo p {
    @include px2rem(height, 30px);
    @include px2rem(font-size, $font-22);
    @include px2rem(line-height, 30px);
    color: $color-font2;
    margin: 0.56rem 0.52rem 0.56rem 0;
    text-align: right;
    width: 4.5rem;
    @include ell(1);
}
.list-slideDown {
    display: none;
    width: 100%;
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    padding:0.4rem 0;
    text-align: center;
    @include px2rem(font-size, $font-28);
    color: $color-font1;
    background-color: #ffffff;
}

/**
 * 公司列表
 */
.company {
    background-color: #ffffff;
}
.company .list-title {
    border-bottom: 1px solid #e6e6e6;
}

.list-company {
    width: auto;
    height: auto;
    margin: 0 0.52rem;
    overflow: hidden;
    background-color: #ffffff;
}
.list-company li {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
    position: relative;
    padding: 0.52rem 0;
}
.list-company li a {
    display: block;
    width: 100%;
    height: 100%;
}
.list-banner li div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.company-portrait {
    @include px2rem(height, 90px);
    @include px2rem(width, 90px);
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    margin: 0 0.52rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.company-portrait img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}
.company-info {
    width: 6rem;
}
.company-info h4 {
    @include px2rem(font-size, $font-30);
    font-weight: normal;
    color: $color-font1;
    width: auto;
    height: auto;
    margin-bottom: 0.12rem;
}
.company-info p {
    @include px2rem(font-size, $font-24);
    color: $color-font3;
    width: auto;
    height: auto;
}
.list-company span {
   @include px2rem(width, 15px);
   @include px2rem(height, 30px);
   position: absolute;
   @include px2rem(top, 72px);
   right: 0;
   background-image: url(../img/work_details_more_ico@3x.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
