@import "mixin";

/**
 * 通用样式
 */
$font-22: 22px;
$font-24: 24px;
$font-28: 28px;
$font-32: 32px;
$font-color1: #282828;
$font-color2: #757575;
$font-color3: #bdbdbd;
$font-color4: #414141;
.ti2 {text-indent: 2em;}

.wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
}
.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    @include css3(overflow-scrolling, touch);
    background-color: #f5f5f5;
}
.hasTitle {
    padding-top: 1.2rem;
}
.title {
    width: 100%;
    @include px2rem(height,36px);
    @include px2rem(line-height,36px);
    @include px2rem(font-size,36px);
    padding: 0.36rem 0;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #ffffff;
}
.title span {
    @include px2rem(width,42px);
    @include px2rem(height,36px);
    background-image:url(../img/nav_back_ico@3x.png);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    bottom: 0.36rem;
    left: 0.52rem;
}
/* 功能介绍 */
.introduce {
    width: auto;
    height: auto;
    margin: 0.64rem 0.64rem;
    @include px2rem(font-size, $font-28);
    color: $font-color4;
}
.introduce p {
    @include px2rem(line-height, 46px);
}
.footer {
    width: 100%;
    height: 110px;
    position: absolute;
    left: 0;
    @include px2rem(bottom, 84px);
}
.footer div {
    width: 100%;
    height: auto;
    @include px2rem(font-size, $font-24);
    @include px2rem(margin-bottom, 26px);
    color: $font-color2;
    text-align: center; 
}
.footer p {
    width: 100%;
    height: auto;
    @include px2rem(font-size, $font-22);
    @include px2rem(margin-bottom, 8px);
    color: $font-color3;
    text-align: center; 
}
/* 功能介绍 End */

/* 用户协议 */
.userAgreement {
    width: auto;
    height: auto;
    margin: 0.64rem 0.64rem;
    @include px2rem(font-size, $font-28);
    color: $font-color4;
}
.userAgreement p {
    @include px2rem(line-height, 46px);
}
.userAgreement h4 {
    @include px2rem(font-size, $font-32);
    @include px2rem(line-height, 36px);
    padding: 0.2rem 0;
    font-weight: bold;
}
/* 用户协议 End */

/* 说明页面 */
.explain {
    width: auto;
    height: auto;
    margin: 0.64rem 0.64rem;
    @include px2rem(font-size, $font-28);
    color: $font-color4; 
}
.explain h4 {
    @include px2rem(font-size, $font-32);
    @include px2rem(line-height, 36px);
    padding: 0.2rem 0;
    font-weight: bold;
}
.explain p {
    @include px2rem(line-height, 46px);
}

/* 说明页面 End */

/* 会员权益 */
.memberRights {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.memberRights img {
    width: 100%;
    height: auto;
}