<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0" />
    <!-- 去掉移动web页面自动探测电话号码 -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title></title>

    <script>
        var _czc = _czc || [];
        _czc.push(["_setAccount", "1260955674"]);
    </script>

    <script src="../../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../../static/css/reset.css" type="text/css ">
    <link rel="stylesheet" href="../../static/css/activity.css" type="text/css">
</head>
<body>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260955674'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260955674' type='text/javascript'%3E%3C/script%3E"));</script>
    <div class="wrap">
        <div class="title">活动详情 <span></span> <i class="share"></i></div>
        <div class="content hasBottom">
            <div class="detail-content">
                <!-- <p class="detail_p1"></p>
                <p class="detail_p2"></p>
                <p class="detail_p3"></p>
                <p class="detail_p4"></p> -->
            </div>
        </div>
        <div class="bottom">
            <div class="btn-case">查看预案</div>
            <div class="btn-join">立即报名</div>
        </div>
    </div>
    <!-- 提示框 -->
    <div class="popTip">
        <div class="popTip-frame">
            <div class="popTip-content">
                您已经参加了该活动
            </div>
            <div class="popTip-btn">
                确定
            </div>
        </div>
    </div>
    <!-- 弹出输入框 -->
    <div class="popBox">
        <div class="popBox-frame">
            <div class="popBox-title">报名信息</div>
            <div class="popBox-inputBox">
                <span class="fl">姓名<i>*</i></span>
                <input class="fl js-name"  type="text" placeholder="请输入真实姓名" maxlength="10">
            </div>
            <div class="popBox-inputBox">
                <span class="fl">手机<i>*</i></span>
                <input class="fl js-phone" type="text" placeholder="请输入手机号码" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="11">
            </div>
            <div class="popBox-btn">提交</div>
        </div>
    </div>
    <script src="../../static/js/libs/zepto.min.js"></script>
    <script src="../../static/js/config.js"></script>
    <script src="../../static/js/common.js"></script>
    <script src="../../static/js/hybrid.js"></script>
    <script src="../../static/js/hybrid-bridge.js"></script>
    <script src="../../static/js/activity/activityDetail.js"></script>
    <script src="../../static/js/activity/activityBottom.js"></script>
</body>
</html>