<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0" />
    <!-- 去掉移动web页面自动探测电话号码 -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title></title>

    <script>
        var _czc = _czc || [];
        _czc.push(["_setAccount", "1260955674"]);
    </script>

    <script src="../../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../../static/css/reset.css" type="text/css ">
    <link rel="stylesheet" href="../../static/css/activity.css" type="text/css">
</head>
<body>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260955674'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260955674' type='text/javascript'%3E%3C/script%3E"));</script>
    <div class="wrap">
        <div class="title js-case">设计预案 <span></span></div>
        <div class="title js-myCase">我的预案 <span></span></div>
        <div class="content hasBottom">
            <div class="case-filter">
                <div class="case-fitler-btn js-style-btn">风格</div>
                <div class="case-fitler-btn js-layout-btn">户型</div>
                <div class="case-fitler-btn js-houseArea-btn">面积</div>
            </div>
            <ul class="case-list">
                <!-- <li class="case-item">
                    <div class="index-720">
                        <div class="index-720-bg"></div>
                        <div class="index-720-btn"></div>
                    </div>    
                    <div class="case-item-info">
                        <div class="case-item-companyLogo"></div>
                        <div class="case-item-name">恬静的音符</div>
                        <div class="case-item-label">北欧 / 三居 / 130㎡</div>
                    </div>
                    <div class="line-index"></div>
                </li> -->
            </ul>
            <div class="case-noContent">
                <div class="error-noContent-image"></div>
                <div class="error-noContent-text">抱歉，没有匹配的作品</div>
            </div>
            <div class="case-slideDown">
                上拉加载更多预案
            </div>
        </div>
        <div class="bottom">
            <div class="btn-case">我的预案</div>
            <div class="btn-join">立即报名</div>
        </div>
        <div class="filter-mask"></div>
        <div class="filter-frame js-style">
            <div class="filter-title">风格</div>
            <ul class="filter-list">
                <li class='active'><span class="filter-value">全部</span><span class="filter-totalCount"></span></li>
            </ul>
        </div>
        <div class="filter-frame js-layout">
            <div class="filter-title">户型</div>
            <ul class="filter-list">
                <li class='active'><span class="filter-value">全部</span><span class="filter-totalCount"></span></li>
            </ul>
        </div>
        <div class="filter-frame js-houseArea">
            <div class="filter-title">面积</div>
            <ul class="filter-list">
                <li class='active'><span class="filter-value">全部</span><span class="filter-totalCount"></span></li>
            </ul>
        </div>
    </div>
    <!-- 提示框 -->
    <div class="popTip">
        <div class="popTip-frame">
            <div class="popTip-content">
                您已经参加了该活动
            </div>
            <div class="popTip-btn">
                确定
            </div>
        </div>
    </div>
    <!-- 弹出输入框 -->
    <div class="popBox">
        <div class="popBox-frame">
            <div class="popBox-title">报名信息</div>
            <div class="popBox-inputBox">
                <span class="fl">姓名<i>*</i></span>
                <input class="fl js-name" type="text" placeholder="请输入真实姓名" maxlength="10">
            </div>
            <div class="popBox-inputBox">
                <span class="fl">手机<i>*</i></span>
                <input class="fl js-phone" type="text" placeholder="请输入手机号码" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="11">
            </div>
            <div class="popBox-btn">提交</div>
        </div>
    </div>

    <script src="../../static/js/libs/zepto.min.js"></script>
    <script src="../../static/js/config.js"></script>
    <script src="../../static/js/common.js"></script>
    <script src="../../static/js/hybrid.js"></script>
    <script src="../../static/js/hybrid-bridge.js"></script>
    <script src="../../static/js/activity/activityCase.js"></script>
    <script src="../../static/js/activity/activityBottom.js"></script>
</body>
</html>