@import "mixin";
@charset "utf-8";
/**
 * 通用样式
 */
$font-42: 42px;
$font-F1: 36px;
$font-F2: 34px;
$font-F3: 30px;
$font-F4: 28px;
$font-F5: 26px;
$font-F6: 24px;
$font-F7: 22px;
$color-C1: #282828;
$color-C2: #bbbbbb;
$color-C3: #e6e6e6;
$color-C4: #737373;
$color-C5: #a8a8a8;
$color-C6: #f56d9d;
$color-C7: #f5f5f5;

.btm{
  bottom:1.2rem;
  .paylist-title{
    text-align:center;
    overflow:hidden;
    .img-box{
      margin-top:0.77333rem;
      img{
        width:1.6rem;
        height:1.6rem;
        border-radius:0.8rem;
      }
      h1{
        margin:0.42666rem 0;
      }
    }
  }
}
.paylist-list{
  margin-top:0.26666rem;
  li{
    height:1.57333rem;
    line-height:1.57333rem;
  }
  .div-box{
    margin:0 0.53333rem;
    width:89.3%;
    p:first-child{
      float:left;
    }
    p:last-child{
      float:right;
      width:4rem;
      text-align:right;
      img{
        width: 0.2rem;
        vertical-align: middle;
        margin-left:0.16rem;
      }
    }
  }
}
.mg{
  margin-top:0.26666rem;
  margin-bottom:0.8rem;
}
