<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <!-- 去掉移动web页面自动探测电话号码 -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title></title>

    <script>
        var _czc = _czc || [];
        _czc.push(["_setAccount", "1260955674"]);
        console.log(window.innerHeight)
    </script>

    <!--rem 库-->
    <script src="../../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../../static/css/reset.css" type="text/css ">
    <link rel="stylesheet" href="../../static/css/twitter.css" type="text/css">
</head>
<body>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260955674'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260955674' type='text/javascript'%3E%3C/script%3E"));</script>
    <div class="wrap">
        <div class="title">申请推客 <span></span></div>
        <div class="content">
            <div class="apply-bg">
                <div class="apply-checkbox"><span class="apply-checkbox-box"></span><em> 我同意"推客须知"</em></div>
                <div class="apply-btn"></div>
            </div>

        </div>
    </div>
    <script src="../../static/js/libs/zepto.min.js"></script>
    <script src="../../static/js/config.js"></script>
    <script src="../../static/js/common.js"></script>
    <script src="../../static/js/hybrid.js"></script>
    <script src="../../static/js/hybrid-bridge.js"></script>
    <script src="../../static/js/twitter/apply.js"></script>
</body>
</html>