<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>合同详情说明</title>
    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css ">
    <link rel="stylesheet" href="../static/css/single.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="content">
            <div class="explain">
                <p class="ti2">合同详情用于展示与当前订单相关的凭证照片，包括您的房屋信息，与装修公司签订的合同，支付首款凭证等。上传订单相关图片的用户即可尊享鹦鹉美家会员权益。</p>
                <p class="ti2">注意事项：</p>
                <p class="ti2">1. 上传的图片要求完整、文字清晰</p>
                <p class="ti2">2. 上传合同时需显示有效盖章和签字</p>
                <p class="ti2">3. 涉及交易金额需显示清晰，易于辨识</p>
            </div>
        </div>
    </div>
</body>
</html>