<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>余额说明</title>
    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css ">
    <link rel="stylesheet" href="../static/css/single.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="title"><span onClick="javascript:history.back(-1);"></span>余额说明</div>
        <div class="content hasTitle">
            <div class="explain">
                <h4>1. 余额说明</h4>
                <p class="ti2">余额是用户在鹦鹉美家平台通过自主意愿进行充值行为后，可在指定范围内购买服务，余额现可在鹦鹉美家官方手机APP使用。如用户帐号暂停使用，鹦鹉美家将暂停该用户帐号内剩余余额相关使用权益。 通过“我的-资金账户”可查看您的账户余额详情，并可进行余额的充值、提现操作。</p>
                <h4>2. 使用范围</h4>
                <p class="ti2">余额可无次数限制直接用于支付鹦鹉美家所属预约、订单、招标等，根据余额和支付金额的不同，您可以使用余额支付全部金额或者使用余额支付部分金额，余下部分用其他方式付款。</p>
                <h4>3. 余额充值规则</h4>
                <p class="ti2">您可以进入“我的-资金信息”页面，点击充值按钮进行充值操作。充值操作将通过第三方支付系统完成，保障您的资金及个人信息安全。现金（余额）规则由鹦鹉美家制定并依据国家相关法律法规及规章制度予以解释和修改，规则以网站公布为准。</p>
                <h4>4. 余额提现规则</h4>
                <p class="ti2">您可以进入“我的-资金信息”页面，点击提现按钮对账户余额中的金额进行提现操作。提现操作将通过第三方支付系统完成，保障您的资金及个人信息安全。提现次数不做限制，我们将会退款到您指定的银行卡中，预计到账时间为1天之内。</p>
            </div>
        </div>
    </div>
</body>
</html>