<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <!-- 去掉移动web页面自动探测电话号码 -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>公司</title>
        
    <script>
        var _czc = _czc || [];
        _czc.push(["_setAccount", "1260955674"]);
    </script>

    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css ">
    <link rel="stylesheet" href="../static/css/list.css" type="text/css">
</head>
<body>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260955674'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260955674' type='text/javascript'%3E%3C/script%3E"));</script>
    <div class="wrap">
        <div class="content company">
            <div class="banner">
                <ul class="list-banner clearfix">
                    <li>
                        <img src="../static/img/banner_cd.jpg" alt="">
                        <div></div>
                    </li>
                    <li>
                        <img src="../static/img/banner_cq.png" alt="">
                        <div></div>
                    </li>
                </ul>
            </div>
            <ul class="list-company">
                <!-- <li>
                    <a href="#">
                        <div class="company-portrait fl">
                            <img src="http://o8nljewkg.bkt.clouddn.com/o_1at7pji0f141f1f9qls41clukv1h.jpg&imageView2/1/w/80/h/80">
                        </div>
                        <div class="company-info fl">
                            <h4>成都业之峰装修有限公司</h4>
                            <p>重庆</p>
                        </div>
                        <span></span>
                    </a>
                </li> -->
            </ul>
            <div class="list-slideDown">
                上拉加载更多装修公司
            </div>
        </div>
    </div>
    <script src="../static/js/libs/zepto.min.js"></script>
    <script src="../static/js/config.js"></script>
    <script src="../static/js/companyList.js"></script>
</body>
</html>