<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>冻结资金说明</title>
    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css ">
    <link rel="stylesheet" href="../static/css/single.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="title"><span onClick="javascript:history.back(-1);"></span>冻结资金说明</div>
        <div class="content hasTitle">
            <div class="explain">
                <h4>1. 什么是冻结资金</h4>
                <p class="ti2">当业主选择某项服务付款之后，这部分金额不会直接支付给商家，而是先到鹦鹉美家的账户。等到商家完成服务并且业主确认交易完成之后，再由鹦鹉美家将该金额支付给商家。若用户选择退款操作，则鹦鹉美家根据退款规则直接将该金额退还给业主。</p>
                <h4>2. 为什么需要冻结资金</h4>
                <p class="ti2">由于家装服务周期较长，为了保障业主的利益，鹦鹉美家选择冻结业主支付的金额，等待业主确认服务完成并且服务质量达到业主预期之后，再将金额支付给商家。若服务质量不达标，业主可随时发起退款申请，鹦鹉美家将根据退款规则直接退还相应金额给业主，以此防止后期业主陷入不必要的纠纷之中，从而保障了业主的权益。</p>
            </div>
        </div>
    </div>
</body>
</html>