<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <!-- 去掉移动web页面自动探测电话号码 -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>提现</title>
    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css ">
    <link rel="stylesheet" href="../static/css/funds.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="title"><span></span>提现</div>
        <div class="content index-gray">
            <div class="line"></div>
            <div class="recharge-checked">
            </div>
            <div class="line"></div>
            <div class="drawCash-inputBox">
                <span>提现金额 &nbsp;&nbsp;¥ &nbsp;</span>
                <input type="text" placeholder="请输入提现金额" class="drawCash-input" onkeyup="value=value.replace(/[^\d]/g,'')">
            </div>
            <div class="drawCash-total">
                可提现金额 <span></span>元
                <a href="javascript:void(0);">全部提现</a>
            </div>
            <button class="drawCash-next">确认提现</button>
        </div>
    </div>
    <div class="selectBank-mask">
        <div class="selectBank-frame">
            <div class="selectBank-title">选择银行卡</div>
            <ul class="selectBank-list">
            </ul>
            <div class="selectBank-btns clearfix">
                <button class="selectBank-btns-cancel fl">取消</button>
                <button class="selectBank-btns-confirm fr">确定</button>
            </div>
        </div>

    </div>

    <script src="../static/js/libs/zepto.min.js"></script>
    <script src="../static/js/config.js"></script>
    <script src="../static/js/common.js"></script>
    <script src="../static/js/funds-drawCash.js"></script>
</body>
</html>