<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <!-- 去掉移动web页面自动探测电话号码 -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>明细</title>
    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css ">
    <link rel="stylesheet" href="../static/css/funds.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="title"><span></span>明细</div>
        <div class="content index-gray">
            <ul class="detail-list">
                <!-- <li>
                    <p class="detail-type">提现</p>
                    <p class="detail-date">2016.01.01 15:31:23</p>
                    <p class="detail-num">-500.00</p>
                </li> -->
            </ul>
            <div class="list-slideDown">
                上拉加载更多资金明细
            </div>
        </div>
    </div>
    <script src="../static/js/libs/zepto.min.js"></script>
    <script src="../static/js/config.js"></script>
    <script src="../static/js/common.js"></script>
    <script src="../static/js/funds-detail.js"></script>
</body>
</html>