<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title></title>
    
    <script>
        var _czc = _czc || [];
        _czc.push(["_setAccount", "1260955674"]);
    </script>

    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../static/css/index.css" type="text/css">
</head>
<body>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260955674'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260955674' type='text/javascript'%3E%3C/script%3E"));</script>
    <div class="wrap">
        <div class="content index-gray">
            <div class="index-nav clearfix">
                <a href="#index=0" class="active">
                    现场实景
                    <span></span>
                </a>
                <a href="#index=1">
                    原创团队
                    <span></span>
                </a>
                <a href="#index=2">
                    项目资料
                    <span></span>
                </a>
            </div>
            <div class="index-tab show">
                <a href="javascript:void(0);" id="index-720">
                    <div class="index-720">
                        <div class="index-720-bg"></div>
                        <div class="index-720-btn"></div>
                    </div>
                </a>
                <div class="index-basicInfo">
                    <div class="index-basicInfo-info"></div>
                    <div class="index-basicInfo-title"></div>
                    <div class="index-basicInfo-story">
                        <p></p>
                    </div>
                    <div class="story-btn"></div>
                </div>
                <div class="line-index"></div>
                <div class="js-personal-video">
                    <div class="video-title js-video-title"></div>
                    <div class="personal-video"></div>
                    <div class="line-index"></div>
                </div>
                <div class="index-realScene">
                    <div class="index-realScene-title">
                        实景照片  
                    </div>
                    <div class="realScene-list">
                        <!-- <div class="realScene-item">
                            <div class="realScene-pic">
                                <img src="/static/img/1.jpg" alt="">
                            </div>
                            <div class="realScene-title">
                                标题
                            </div>
                            <div class="realScene-describe">
                                客厅角度无家具效果图
                            </div>
                        </div> -->
                    </div>
                    <div class="line-index"></div>
                </div>
                <div class="appe">
                    <div class="index-similar">
                        <div class="index-similar-title">
                            类似作品
                        </div>
                        <div class="index-similar-frame clearfix">
                        </div>
                    </div>
                    <div class="line-index"></div>
                </div>
            </div>
            
            <!-- 原创团队 -->
            <div class="index-tab js-team">
                <div class="line-index"></div>
                <div class="data-main-title">团队成员</div>
                <ul class="team-list clearfix">
                    <!-- <li>
                        <div class="team-member fl">
                            <h4>四川省美壳装饰有限公司</h4>
                            <p>硬装 <span>|</span> 软装</p>
                        </div>
                    </li> -->
                </ul>
                <div class="data-main js-start-ceremony team-ceremony" style="display:none;">
                    <div class="data-main-title border-top">开工典礼</div>
                </div>
                <div class="data-main js-end-ceremony team-ceremony" style="display:none;">
                    <div class="data-main-title" style="border:0;">竣工典礼</div>
                </div>
            </div>

            <!-- 详细资料 -->
            <div class="index-tab">
                <div class="data-noContent">
                    <div class="data-noContent-image"></div>
                    <div class="data-noContent-text">作品内容陆续上传中</div>
                </div>
                <div class="data-total">
                    <div class="data-total-bg"></div>
                    <div class="data-total-content">
                        <p class="data-total-value">¥ <span></span>万</p>
                    </div>
                </div>
                <div class="data-main">
                    <!-- <div class="data-cost-title">设计土建基装</div> -->
                    <!-- <ul class="data-costList clearfix">
                        <li>
                            <span class="data-costItem-icon fl data-icon-1"></span>
                            <span class="data-costItem-name fl">硬装设计</span>
                            <span class="data-costItem-num fr"></span>
                        </li>
                    </ul> -->
                    <!-- <div class="data-cost-title">主要物料设备</div> -->
                    <ul class="data-materialList clearfix">
                        <!-- <li class="data-materialItem">
                            <div class="data-materialItem-show">
                                <span class="data-materialItem-name">硬装主材</span>
                                <span class="data-materialItem-cost"></span>
                                <span class="data-materialItem-arrow"></span>
                                <div class="data-materialItem-brief clearfix">
                                    <div class="data-materialItem-briefItem fr">
                                        <div></div>
                                        <p>门窗</p>
                                    </div>
                                </div>
                            </div>
                            <div class="data-materialItem-hide">
                                <ul class="data-materialItem-brandList clearfix">
                                    <li class="data-materialItem-brandItem">
                                        <div class="data-materialItem-brandImg"></div>
                                        <div class="data-materialItem-brandName">马赛克</div>
                                    </li>
                                </ul>
                            </div>
                        </li> -->
                    </ul>
                    <div class="line-data"></div>
                </div>
                <div class="data-main js-softDecor">
                    <div class="data-main-title">
                        软装陈列
                    </div>
                    <div class="softDecor-desc">
                        <p></p>
                    </div>
                    <div class="softDecor-btn"></div>
                    <ul class="softDecor-list">
                        <!-- <li class="softDecor-listItem">
                            <div class="softDecor-listItem-title">
                                客厅
                            </div>
                            <div class="softDecor-listItem-desc">
                                简单的线条，朴素的色彩交相融合，温馨的氛围完全凸显
                            </div>
                            <div class="softDecor-listItem-pic realScene-pic">
                                <img src="http://o8nljewkg.bkt.clouddn.com/o_1b0n51di05851pm81a1o1hdt12bp10.jpg&imageView2/2/w/375|watermark/1/image/aHR0cDovL284bmxqZXdrZy5ia3QuY2xvdWRkbi5jb20vb18xYjR2Nmluamw4OHMybjY2YmJndHJjc2IyOC5wbmc=/gravity/SouthEast/dx/20/dy/20">
                                <div class="realScene-bg"></div>
                            </div>
                        </li> -->
                    </ul>
                    <div class="line-data"></div>
                </div>
                <div class="data-main js-plainLayout">
                    <div class="data-main-title">
                        户型改造
                    </div>
                    <div class="plainLayout-desc">
                        <p></p>
                    </div>
                    <div class="plainLayout-btn"></div>
                    <ul class="plainLayout-list">
                        <!-- <li class="plainLayout-item">
                            <div class="plainLayout-item-title">
                                <span>1F</span> 原始平面图
                            </div>
                            <div class="realScene-pic">
                                <img src="/static/img/1.jpg" alt="">
                            </div>
                            <div class="plainLayout-item-title">
                                <span>1F</span> 设计平面图
                            </div>
                            <div class="realScene-pic">
                                <img src="/static/img/1.jpg" alt="">
                            </div>
                            <div class="plainLayout-item-describe">
                                在这处宛如艺术宫廷的现代住宅中，在这处宛如艺术宫廷的现代住宅中，在这处宛如艺术宫廷的现代住宅中，在这处宛如艺术宫廷的现代住宅中，在这处宛如艺术宫廷的现代住宅中，在这处宛如艺术宫廷的现代住宅中，
                            </div>
                        </li> -->
                    </ul>
                    <div class="line-data"></div>
                </div>
                <div class="data-main js-process-hard">
                    <div class="data-main-title">
                        硬装施工
                    </div>
                    <div class="process-desc">
                        <span>特别提示</span>
                        我们对项目施工各阶段的验收，进行视频和照片拍摄，详细记录工长及现场情况。这是您判别工长是否为本工地的负责人，以及能力的重要依据。
                    </div>
                    <!-- <div class="data-process-hard" style="display:none;"> -->
                    <div class="process-list">
                        <!-- <div class="process-listItem">
                            <a href="">
                                <div class="process-listItem-logo"></div>
                                <div class="process-listItem-title">进场视频</div>
                                <div class="process-listItem-data">
                                    <span class="process-listItem-video">视频 6</span><span> · </span><span class="process-listItem-image">图片 1</span>
                                </div>
                                <span class="process-listItem-arrow"></span>
                            </a>
                        </div> -->
                    </div>
                    <div class="line-data"></div>
                </div>
                <div class="data-main js-process-soft">
                    <div class="data-main-title">
                        软装施工
                    </div>
                    <div class="process-list">
                    </div>
                    <div class="line-data"></div>
                </div>
            </div>
        </div>
        <!-- WIFI提示 -->
        <div class="wifi-mask">
            <div>
                <div>
                    <div class="wifi-frame">
                        <div class="wifi-content">
                            当前处于非wifi网络，继续查看将耗费手机流量
                        </div>
                        <div class="wifi-btn clearfix">
                            <div class="wifi-Lbtn fl">是</div>
                            <div class="wifi-Rbtn fr">否</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- WIFI提示 End-->

        <!-- 本案设计视频弹层 -->
        <div class="personal-mask">
            <div>
                <div>
                    <video id="personal-video" src="" controls>
                        your browser does not support the video tag
                    </video>
                </div>
            </div>
        </div>
        <!-- 本案设计视频弹层 End-->

        <!-- 下载 -->
        <div class="bottom">
            <div class="bottom-logo"></div>
            <div class="bottom-slogen"></div>
            <a class="bottom-btn js-download" href="javascript:void(0);">立即下载</a>
            <div class="bottom-close"></div>
        </div>
        <!-- 下载 End-->
        <!-- 微信下载提示 -->
        <div class="wxTips">
            <div></div>
        </div>
        <!-- 微信下载提示 End-->
    </div>

    <script src="../static/js/libs/zepto.min.js"></script>
    <script src="../static/js/libs/jweixin-1.0.0.js"></script>
    <script src="../static/js/libs/fastclick.js"></script>
    <script src="../static/js/config.js"></script>
    <script src="../static/js/common.js"></script>
    <script src="../static/js/share.js"></script>
    <script src="../static/js/case/index.js"></script>
    <script src="../static/js/download.js"></script>

</body>
</html>