<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>功能介绍</title>
    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css ">
    <link rel="stylesheet" href="../static/css/single.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="content">
            <div class="introduce">
                <p>鹦鹉美家，是一款全新的美家服务平台产品。致力于为客户优选真实美家服务作品与原班团队。</p>
                <br />
                <p>【主要功能】</p>
                <p>1. 提供真实作品查看；</p>
                <p>2. 可对作品进行收藏，以便于可以随时找到自己心仪的作品；</p>
            </div>
        </div>
    </div>
</body>
</html>