<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员权益</title>
    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css ">
    <link rel="stylesheet" href="../static/css/single.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="content">
            <div class="memberRights">
                <img src="../static/img/memberRights-01.jpg" alt="">
            </div>
        </div>
    </div>
</body>
</html>