<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预约说明</title>
    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css ">
    <link rel="stylesheet" href="../static/css/single.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="content">
            <div class="explain">
                <h4>1. 合作商户</h4>
                <p class="ti2">目前鹦鹉美家与成渝两地30余家中高端装修设计公司（包括工作室）合作，为您提供设计、装修、配饰（软装）服务；</p>
                <h4>2. 预约目的</h4>
                <p class="ti2">预约是为了让商户更好的服务于业主，同时排除掉大量的非诚意业主；</p>
                <h4>3. 预约金处理</h4>
                <p class="ti2">预约成功，预约金将作为下一个阶段的资金；预约失败，业主可通过APP的【申请退款】按钮进行退款，资金将通过原有渠道全额退回。</p>
            </div>
        </div>
    </div>
</body>
</html>