<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>退款说明</title>
    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css ">
    <link rel="stylesheet" href="../static/css/single.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="content">
            <div class="explain">
                <h4>1. 鹦鹉美家合作的支付平台</h4>
                <p class="ti2">目前与鹦鹉美家合作，为您提供支付（及退款）服务的第三方支付公司为易宝支付，开通渠道包括：微信、银行卡、支付宝（暂未开通）、余额；</p>
                <h4>2. 退款流程</h4>
                <p class="ti2">业主提交退款申请--审核--完成退款（财务）。最后支付平台或银行退回款项到支付账户中。</p>
                <h4>3. 钱退到哪里</h4>
                <p class="ti2">财务通过平台完成退款后，款项将通过原支付渠道退回。通过微信、支付宝账户余额付款，将直接退回到微信或支付宝账户余额中。通过网银（或信用卡）付款，将退回到银行卡（或信用卡）中。通过余额付款，将退回到余额。例如：通过支付宝招行信用卡快捷方式支付，会退回到您的招行信用卡账户中。</p>
                <h4>4. 多久到账</h4>
                <p class="ti2">支付宝或微信账户余额退款一般会在24小时内退回。网银（或信用卡）退款一般会在1-15个工作日到账。不同银行退款处理日不定，请耐心等待，即时查询银行明细。个别银行信用卡支出和收入的账单会在未出账之前抵消，请通过银行账户查询收支明细。</p>
            </div>
        </div>
    </div>
</body>
</html>