<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title></title>
        
    <script>
        var _czc = _czc || [];
        _czc.push(["_setAccount", "1260955674"]);
    </script>

    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../static/css/register.css" type="text/css">
</head>
<body>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260955674'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260955674' type='text/javascript'%3E%3C/script%3E"));</script>
    <div class="wrap">
        <div class="title">注册新账号</div>
        <div class="content">
            <div class="blankH200"></div>
            <div class="inputBox">
                <input type="text" class="phoneNumber" maxlength="11" onkeyup="value=value.replace(/[^\d]/g,'')" placeholder="请输入手机号码">
            </div>
            <div class="inputBox">
                <input type="text" class="msg" maxlength="6" onkeyup="value=value.replace(/[^\d]/g,'')" placeholder="请输入短信验证码">
                <button class="sendCode">发送验证码</button>
            </div>
            <div class="inputBox">
                <input type="password" class="password" maxlength="20" placeholder="请输入8-20位数字或字母密码">
            </div>
            <div class="checkBox">
                <span class="checkBox-icon checkBox-icon-active"></span>
                <span class="checkBox-text">我同意<a href="http://mobile.yingwumeijia.com/template/userAgreement.html">《用户协议》</a></span>
            </div>
            <button class="submit">注册</button>
            <div class="succTip">注册成功，请到应用商店下载鹦鹉美家APP</div>
            <div class="funds-mask">
                <div class="funds-frame">
                    <h4>是否确认开通鹦鹉美家用户账号？</h4>
                    <div class="funds-btns clearfix">
                        <button class="funds-btns-cancel fl">取消</button>
                        <button class="funds-btns-confirm fr">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/libs/zepto.min.js"></script>
    <script src="../static/js/libs/jsencrypt.min.js"></script>
    <script src="../static/js/libs/jweixin-1.0.0.js"></script>
    <script src="../static/js/config.js"></script>
    <script src="../static/js/register.js"></script>
</body>
</html>