<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>鹦鹉美家</title>
    
    <script>
        var _czc = _czc || [];
        _czc.push(["_setAccount", "1260955674"]);
    </script>

    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../static/css/topLine.css" type="text/css">
</head>
<body>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260955674'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260955674' type='text/javascript'%3E%3C/script%3E"));</script>
    <div class="wrap">
        <div class="content">
            <div class="imgBox">
                <img src="../static/img/topLine-part1.jpg" alt="">
            </div>
            <div class="imgBox">
                <a class="href720" href="http://customer.yingwumeijia.com/images/4e7ca7a0478b48e0ade84d278a342c61/H45F/index.html?type=720&caseId=1076">
                    <img src="../static/img/topLine-part2.jpg" alt="">
                </a>
            </div>
            <div class="imgBox">
                <img src="../static/img/topLine-part3.jpg" alt="">
            </div>
            <div class="imgBox">
                <img class="video" src="../static/img/topLine-part4.jpg" alt="">
            </div>
            <div class="imgBox">
                <img src="../static/img/topLine-part5.jpg" alt="">
            </div>
            <div class="imgBox">
                <img src="../static/img/topLine-part6.jpg" alt="">
                <div class="frame">
                    <ul class="list clearfix">
                        <li>
                            <img src="../static/img/topLine-01.jpg" alt="">
                        </li>
                        <li>
                            <img src="../static/img/topLine-02.jpg" alt="">
                        </li>
                        <li>
                            <img src="../static/img/topLine-03.jpg" alt="">
                        </li>
                        <li>
                            <img src="../static/img/topLine-04.jpg" alt="">
                        </li>
                        <li>
                            <img src="../static/img/topLine-05.jpg" alt="">
                        </li>
                        <li>
                            <img src="../static/img/topLine-06.jpg" alt="">
                        </li>
                        <li>
                            <img src="../static/img/topLine-07.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="imgBox">
                <img src="../static/img/topLine-part7.png" alt="">
            </div>
        </div>
        <!-- 下载 -->
        <div class="top">
            <div class="logo"></div>
            <a id="btn" href="javascript:void(0);" class="btn">点击立即下载</a>
        </div>


        <!-- 下载 End -->

        <!-- 视频 -->
        <div class="personal-mask">
            <div>
                <div>
                    <video id="personal-video" src="http://ob24y7hrk.bkt.clouddn.com/o_1auucn1ou1793ngjvspbas1bcmh.mp4" controls>
                        your browser does not support the video tag
                    </video>
                </div>
            </div>
        </div>
        <!-- 视频 End-->
    </div>


    
    <script src="../static/js/libs/zepto.min.js"></script>
    <script src="../static/js/config.js"></script>
    <script src="../static/js/topLine.js"></script>
</body>
</html>