<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <!-- 去掉移动web页面自动探测电话号码 -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title></title>
    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css ">
    <link rel="stylesheet" href="../static/css/funds.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="content">

        </div>
    </div>
    <script src="../static/js/libs/zepto.min.js"></script>
    <script src="../static/js/config.js"></script>
    <script src="../static/js/common.js"></script>
    <script src="../static/js/twitter-return.js"></script>
</body>
</html>