<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>推客说明</title>
    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css ">
    <link rel="stylesheet" href="../static/css/single.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="content">
            <div class="userAgreement">
                <h4>一、什么是推客</h4>
                <p class="ti2">经鹦鹉美家平台认证后，所有自愿使用自己所拥有的微信、微博、QQ等社交网络平台账号，进行鹦鹉美家平台作品推广的人，即为推客。鹦鹉美家的推客分为专属推客和大众推客。（按照国家相关规定，最多只允许3级）</p>
                <p>1.1 专属推客</p>
                <p class="ti2">专属推客是指装饰公司的相关业务人员，专属推客只能分享本装饰公司指定的作品。</p>
                <p>1.2 大众推客</p>
                <p class="ti2">大众推客即为本平台用户，大众推客可以分享所有自己感兴趣的作品。</p>
                <h4>二、 如何成为推客</h4>
                <p>2.1 成为专属推客</p>
                <p class="ti2">通过两种渠道成为专属推客：</p>
                <p class="ti2">1. 鹦鹉美家商家版app的业者（设计师、项目经理、家居顾问等）在“我的--个人信息--推客信息”页面，即可便捷申请成为推客；</p>
                <p class="ti2">2. 进入鹦鹉美家商家后台，设置自己为推客；</p>
                <p>2.2 成为大众推客</p>
                <p class="ti2">大众推客即为本平台用户，大众推客可以分享所有自己感兴趣的作品。</p>
                <p class="ti2">通过鹦鹉美家app在“我的--个人信息--推客信息”页面，自主申请成为推客，经过鹦鹉美家审核通过之后即可生效；</p>
                <h4>三、 推客关系确定</h4>
                <p>3.1 推客与用户的关系</p>
                <p class="ti2">【推客】在社交网络平台成功分享作品后（分享链接会带有推客身份标识信息），【用户】点击分享链接并且成功注册，即认定他们之间的关系；</p>
                <p class="ti2">【用户】通过申请页面填写【推客】的邀请码，同样可以确定（推客-用户）之间的关系；</p>
                <p>3.2 推客与推客的关系</p>
                <p class="ti2">用户在申请成为推客时，不填写邀请码，即是种子推客；填写邀请码，即表示邀请码的提供者为你的上一级推客。</p>
                <h4>四、 推客提成示意</h4>
            </div>
        </div>
    </div>
</body>
</html>