@charset "UTF-8";
/**
 * 通用样式
 */
#cnzz_stat_icon_1260955674 {
  display: none;
}

.line-index {
  width: 100%;
  height: 0.26667rem;
  background-color: #f5f5f5;
  border-top: 1px solid #e6e6e6;
}

.bg-c7 {
  background-color: #f5f5f5;
}

.wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.ios-blank {
  top: 0.56rem;
}

.content {
  position: absolute;
  top: 1.2rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-user-select: none;
  user-select: none;
}

.noTitle {
  top: 0;
}

.hasBottom {
  bottom: 1.32rem;
}

.title {
  width: 100%;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.48rem;
  padding: 0.36rem 0;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
  color: #282828;
}
.title span {
  width: 0.56rem;
  height: 0.48rem;
  background-image: url(../img/nav_back_ico@3x.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  bottom: 0.36rem;
  left: 0.52rem;
}

.title .share {
  width: 0.52rem;
  height: 0.54667rem;
  background-image: url(../img/nav_share_ico@3x.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  bottom: 0.36rem;
  right: 0.52rem;
}

.js-myCase {
  display: none;
}

/* 活动首页 */
.list {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.list li {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 0.2rem;
}

.list li img {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}

/* 活动详情 */
.detail-content {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.detail-content img {
  width: 100%;
  height: auto;
  display: block;
}

/* 预案列表 */
.case-filter {
  width: 100%;
  height: 1.6rem;
  background-color: #ffffff;
  position: relative;
}

.case-fitler-btn {
  width: 1.16rem;
  height: 0.56rem;
  line-height: 0.56rem;
  padding: 0 0.12rem;
  font-size: 0.37333rem;
  color: #282828;
  text-align: center;
  background-image: url(../img/work_sx_more_ico@3x.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  overflow: hidden;
}

.case-filter > div:nth-child(1) {
  position: absolute;
  top: 0.48rem;
  left: 1.46667rem;
}

.case-filter > div:nth-child(2) {
  position: absolute;
  top: 0.48rem;
  left: 4.33333rem;
}

.case-filter > div:nth-child(3) {
  position: absolute;
  top: 0.48rem;
  right: 1.46667rem;
}

.filter-mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
}

.filter-frame {
  width: 7rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transform: translateX(7rem);
  transform: translateX(7rem);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 11;
  overflow: hidden;
}

.filter-title {
  font-size: 0.48rem;
  color: #ffffff;
  margin-left: 0.82667rem;
  margin-top: 0.72rem;
  margin-bottom: 0.69333rem;
}

.filter-list {
  display: block;
  width: 2.56rem;
  height: 11.2rem;
  margin-left: 0.82667rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-user-select: none;
  user-select: none;
}

.filter-list::-webkit-scrollbar {
  width: 0;
}

.filter-list li {
  width: 100%;
  height: 0.48rem;
  line-height: 0.48rem;
  padding: 0.56rem 0;
  color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
}

.filter-list li.active {
  color: #f56d9d;
}

.filter-count {
  margin-left: 0.36rem;
}

.filter-totalCount {
  margin-left: 0.36rem;
}

.case-list {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.case-item {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.case-item-cover {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.index-720 {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.index-720-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8), transparent);
}

.index-720-btn {
  display: block;
  width: 2.48rem;
  height: 0.77333rem;
  background-image: url(../img/work_details_720_play_ico@3x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  bottom: 0.42rem;
  right: 0.52rem;
}

.index-720-btn span {
  position: absolute;
  top: 0.16rem;
  left: 0.35rem;
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 0.2rem;
  cursor: pointer;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #ffffff;
  border-right: none;
}

.case-item-info {
  width: 100%;
  height: 1.86667rem;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}

.case-item-companyLogo {
  border: 1px solid #282828;
  width: 1.14667rem;
  height: 1.14667rem;
  border-radius: 0.57333rem;
  position: absolute;
  top: 0.36rem;
  left: 0.53333rem;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.case-item-name {
  width: 100%;
  height: 0.56rem;
  line-height: 0.56rem;
  text-indent: 2.21333rem;
  margin-top: 0.4rem;
  font-size: 0.50667rem;
  color: #282828;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.case-item-label {
  width: 100%;
  height: auto;
  text-indent: 2.21333rem;
  font-size: 0.34667rem;
  margin-top: 0.06667rem;
  color: #737373;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.case-slideDown {
  display: none;
  width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  padding: 0.4rem 0;
  text-align: center;
  font-size: 0.37333rem;
  color: #282828;
  background-color: #ffffff;
}

/* 我的户型 */
.layout-list {
  width: 9.73333rem;
  height: auto;
  margin-left: 0.26667rem;
  margin-top: 0.26667rem;
  overflow: hidden;
}

.layout-item {
  width: 4.58667rem;
  height: 8.4rem;
  background-color: #ffffff;
  float: left;
  margin-right: 0.26667rem;
  margin-bottom: 0.26667rem;
}

.layout-item-image {
  width: 100%;
  height: 6.48rem;
  overflow: hidden;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.layout-item-info {
  font-size: 0.37333rem;
  margin-top: 0.24rem;
  margin-left: 0.26667rem;
  margin-bottom: 0.24rem;
  color: #282828;
}

.layout-item-btn {
  width: 1.81333rem;
  height: 0.56rem;
  line-height: 0.4rem;
  text-align: center;
  padding: 0.08rem 0;
  border: 1px solid #282828;
  font-size: 0.32rem;
  color: #282828;
  margin-left: 0.26667rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 21px;
  border-radius: 21px;
}

/* 报名成功 */
.result-logo {
  width: 3.46667rem;
  height: 3.46667rem;
  -webkit-border-radius: 130px;
  border-radius: 130px;
  overflow: hidden;
  margin: 0.8rem auto 0.6rem auto;
  background-image: url("../img/benefit_details_pay_success_ico@2x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.result-p1 {
  width: auto;
  height: auto;
  text-align: center;
  font-size: 0.32rem;
  color: #a8a8a8;
}

.result-p2 {
  width: auto;
  height: auto;
  text-align: center;
  font-size: 0.53333rem;
  color: #f56d9d;
  margin-top: 0.34667rem;
  margin-bottom: 0.82667rem;
}

.result-btn {
  width: 8.93333rem;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.4rem;
  padding: 0.4rem 0;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  background-color: #282828;
}

/* 弹出层 */
.popBox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.popBox-frame {
  width: 8rem;
  height: 7.36rem;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 40%;
  position: relative;
  overflow: hidden;
}

.popBox-title {
  width: 100%;
  height: auto;
  font-size: 0.45333rem;
  color: #282828;
  margin: 0.64rem 0 0.56rem 0;
  text-align: center;
}

.popBox-inputBox {
  width: 6.32rem;
  height: 0.48rem;
  padding: 0.52rem 0 0.36rem 0;
  border-bottom: 1px solid #e6e6e6;
  margin: 0 auto;
  overflow: hidden;
}

.popBox-inputBox span {
  font-size: 0.4rem;
  color: #282828;
  margin-right: 0.42667rem;
  height: 0.48rem;
  line-height: 0.48rem;
}

.popBox-inputBox span i {
  color: #f56d9d;
}

.popBox-inputBox input {
  border: 0;
  width: 4.8rem;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.4rem;
  color: #282828;
}

.popBox-btn {
  width: 6.32rem;
  height: 0.48rem;
  height: 0.48rem;
  color: #ffffff;
  font-size: 0.4rem;
  text-align: center;
  background-color: #282828;
  padding: 0.4rem 0;
  margin: 0 auto;
  margin-top: 0.69333rem;
}

.popTip {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.popTip-frame {
  width: 6.6rem;
  height: 3.4rem;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 60%;
  position: relative;
  overflow: hidden;
}

.popTip-content {
  width: 100%;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.4rem;
  color: #282828;
  padding: 0.86rem 0;
  text-align: center;
}

.popTip-btn {
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.4rem;
  color: #f56d9d;
  padding: 0.36rem 0;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

/* 底部 */
.bottom {
  width: 100%;
  height: 1.32rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom > div {
  width: 4.28rem;
  height: 0.48rem;
  line-height: 0.48rem;
  padding: 0.2rem 0;
  background-color: #ffffff;
  color: #282828;
  font-size: 0.4rem;
  text-align: center;
  border: 1px solid #282828;
}

.btn-case {
  // position: absolute;
  // top: 0.2rem;
  // left: 0.48rem;
}

.btn-case-e {
  left: 2.85333rem;
}

.bottom .btn-join {
  // position: absolute;
  background-color: #282828;
  color: #ffffff;
  // top: 0.2rem;
  // right: 0.48rem;
}

.bottom .btn-join-active {
  right: 2.85333rem;
}

.error-noContent-image {
  width: 4rem;
  height: 4rem;
  margin: 2.6rem auto 1rem auto;
  border-radius: 50%;
  background-image: url(../img/no_collection_ico@3x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.error-noContent-text {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 0.37333rem;
  color: #a8a8a8;
  display: block;
}

.activity-noContent {
  display: none;
  overflow: hidden;
  position: absolute;
  background-color: #f5f5f5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.case-noContent {
  display: none;
  overflow: hidden;
  position: absolute;
  background-color: #f5f5f5;
  top: 1.6rem;
  left: 0;
  right: 0;
  bottom: 0;
}

.case-noContent .error-noContent-image {
  background-image: url(../img/work_search_no_result_ico@3x.png);
}

/**
 * 微信下载提示
 */
.wxTips {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10002;
}

.wxTips div {
  width: 4rem;
  height: 2.13333rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../img/wxTips.png);
  position: absolute;
  top: 0;
  right: 0.53333rem;
}

/* 仿iOS toast */
.js-toast {
  width: 100%;
  height: 0.88rem;
  position: absolute;
  bottom: 30%;
}

.js-toast p {
  display: block;
  width: auto;
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 0 0.4rem;
  border-radius: 0.3rem;
  overflow: hidden;
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.37333rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
