@charset "UTF-8";
/**
 * 通用样式
 */
#cnzz_stat_icon_1260955674 {
  display: none;
}

.line-index {
  width: 100%;
  height: 0.26667rem;
  background-color: #f5f5f5;
  border-top: 1px solid #e6e6e6;
}

.bg-c7 {
  background-color: #f5f5f5;
}

.wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  position: absolute;
  top: 1.2rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-user-select: none;
  user-select: none;
}

.notitle {
  top: 0;
}

.title {
  width: 100%;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.48rem;
  padding: 0.36rem 0;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
  color: #282828;
}

.title span {
  width: 0.56rem;
  height: 0.48rem;
  background-image: url(../img/nav_back_ico@3x.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  bottom: 0.36rem;
  left: 0.52rem;
}

.title .share {
  width: 0.52rem;
  height: 0.54667rem;
  background-image: url(../img/nav_share_ico@3x.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  bottom: 0.36rem;
  right: 0.52rem;
}

.ios .content {
  top: 1.6rem;
}

.ios .title {
  padding: 0.76rem 0 0.36rem 0;
}

.listNone {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  overflow: hidden;
}

.list {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.listItem {
  width: 10rem;
  height: 6.72rem;
  overflow: hidden;
}

.listItem-pic {
  width: 10rem;
  height: 5.64rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.listItem-recommend {
  display: none;
  width: 1.06667rem;
  height: 0.90667rem;
  background-image: url(../img/activity_list_tag@3x.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0.13333rem;
}

.listItem-status {
  width: 2.56rem;
  height: 0.48rem;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  font-size: 0.4rem;
  line-height: 0.48rem;
  padding: 0.2rem 0;
  text-align: center;
  position: absolute;
  bottom: 1.08rem;
  left: 3.72rem;
}

.listItem-info {
  width: auto;
  height: 0.36rem;
  padding: 0.36rem 0.4rem;
  background-color: #ffffff;
}

.listItem-time {
  width: auto;
  height: 0.36rem;
  line-height: 0.36rem;
  background-image: url(../img/activity_list_time_ico@3x.png);
  background-position: center left;
  background-size: 0.36rem 0.36rem;
  background-repeat: no-repeat;
  text-indent: 0.48rem;
  color: #737373;
}

.listItem-location {
  width: auto;
  height: 0.36rem;
  line-height: 0.36rem;
  background-image: url(../img/activity_list_map_ico@3x.png);
  background-position: center left;
  background-size: 0.36rem 0.36rem;
  background-repeat: no-repeat;
  text-indent: 0.48rem;
  color: #737373;
}

/* 优惠详情 */
.detail-cover {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.detail-cover-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.detail-cover-bg {
  width: 100%;
  height: 1.65333rem;
  background-image: url(../img/activity_detail_title_shadow_ico@3x.png);
  background-repeat: repeat-x;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.detail-cover img {
  width: 100%;
}

.detail-Info {
  width: auto;
  height: auto;
  margin: 0.72rem 0.52rem;
  overflow: hidden;
  position: relative;
}

.detail-Info-title {
  width: 7.2rem;
  height: auto;
  line-height: 0.8rem;
  font-size: 0.56rem;
  color: #282828;
  font-weight: bold;
  margin-bottom: 0.48rem;
}

.detail-Info-location {
  width: auto;
  height: 0.36rem;
  line-height: 0.36rem;
  background-image: url(../img/activity_list_map_ico@3x.png);
  background-position: center left;
  background-size: 0.36rem 0.36rem;
  background-repeat: no-repeat;
  text-indent: 0.48rem;
  color: #737373;
  position: absolute;
  top: 0.2rem;
  right: 0;
}

.detail-Info-summary {
  width: 100%;
  height: auto;
  line-height: 0.8rem;
  font-size: 0.37333rem;
  color: #737373;
  margin-bottom: 0.2rem;
}

.detail-Info-date {
  width: auto;
  height: 0.36rem;
  line-height: 0.36rem;
  background-image: url(../img/activity_list_time_ico@3x.png);
  background-position: center left;
  background-size: 0.36rem 0.36rem;
  background-repeat: no-repeat;
  text-indent: 0.48rem;
  color: #737373;
}

.detail-details {
  width: auto;
  height: auto;
  margin: 0 0.52rem;
  overflow: hidden;
  position: relative;
  border-top: 1px solid #e6e6e6;
}

.detail-details-title {
  width: auto;
  color: #282828;
  font-size: 0.42667rem;
  margin-top: 0.6rem;
  margin-bottom: 0.36rem;
}

.detail-details-text {
  width: 100%;
  height: auto;
  line-height: 0.8rem;
  font-size: 0.37333rem;
  color: #737373;
  margin-bottom: 0.36rem;
}

.detail-details-pic {
  display: none;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 0.60rem;
  position: relative;
}

.detail-details-pic div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.detail-details-pic img {
  width: 100%;
  margin-bottom: 0.28rem;
}

.detail-details-pic img:last-child {
  margin-bottom: 0;
}

.detail-details-btn {
  display: none;
  width: 100%;
  height: 0.26667rem;
  margin: 0 auto 0.4rem auto;
  background-image: url(../img/work_yctd_info_more_ico@3x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.detail-details-active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.detail-company {
  width: auto;
  height: auto;
  margin: 0 0.52rem 0.4rem 0.52rem;
  overflow: hidden;
  position: relative;
}

.detail-company-logo {
  width: 1.08rem;
  height: 1.08rem;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  position: absolute;
  top: 0.44rem;
  left: 0;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.detail-company-logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.detail-company-title {
  width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  padding: 0.4rem 0;
  font-size: 0.37333rem;
  color: #282828;
  border-bottom: 1px solid #e6e6e6;
}

.detail-company-list {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.detail-company-item {
  width: auto;
  height: auto;
  position: relative;
  padding: 0.44rem 0.48rem 0.44rem 1.64rem;
  border-bottom: 1px solid #e6e6e6;
}

.detail-company-name {
  width: 100%;
  color: #282828;
  font-size: 0.37333rem;
}

.detail-company-summary {
  width: 100%;
  margin: 0.16rem 0;
  height: 1.12rem;
  line-height: 0.56rem;
  color: #a8a8a8;
  font-size: 0.32rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.detail-company-data {
  width: 100%;
  height: 0.64rem;
  font-size: 0;
  -webkit-text-size-adjust: none;
}

.detail-company-plan {
  width: auto;
  padding: 0 0.16rem;
  height: 0.64rem;
  line-height: 0.64rem;
  text-align: center;
  background-color: #fff4f7;
  display: inline-block;
  color: #f56d9d;
  font-size: 0.37333rem;
  margin-right: 0.28rem;
}

.detail-company-owner {
  width: auto;
  padding: 0 0.16rem;
  height: 0.64rem;
  line-height: 0.64rem;
  background-color: #F6F6F6;
  display: inline-block;
  color: #737373;
  font-size: 0.37333rem;
}

.detail-company-arrow {
  width: 0.2rem;
  height: 0.4rem;
  position: absolute;
  top: 1.49333rem;
  right: 0;
  background-image: url(../img/work_details_more_ico@3x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* 商家简介 */
.company-logo {
  width: 2.56rem;
  height: 2.56rem;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  overflow: hidden;
  margin: 0.4rem auto 0.72rem auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.company-logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.company-name {
  margin-bottom: 0.4rem;
  text-align: center;
  height: auto;
  width: 100%;
  font-size: 0.45333rem;
  color: #282828;
}

.company-summary {
  width: auto;
  height: 2.16rem;
  font-size: 0.34667rem;
  color: #737373;
  line-height: 0.72rem;
  margin: 0 0.52rem 0.4rem 0.52rem;
  overflow: hidden;
  text-align: center;
  word-break: break-all;
  word-wrap: break-word;
}

.company-summary-active {
  height: auto;
}

.company-btn {
  display: none;
  width: 100%;
  height: 0.26667rem;
  margin: 0 auto 0.4rem auto;
  background-image: url(../img/work_yctd_info_more_ico@3x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.company-btn-active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.company-actor {
  width: auto;
  margin: 0 0.52rem;
}

.company-actor-title {
  width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  padding: 0.4rem 0;
  font-size: 0.37333rem;
  color: #282828;
  border-bottom: 1px solid #e6e6e6;
}

.company-actor-list {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0.2rem 0;
}

.company-actor-list ul {
  width: auto;
  height: auto;
  margin-top: 0.2rem;
  margin-right: -0.48rem;
}

.company-actor-list li {
  width: 1.08rem;
  height: 1.08rem;
  margin-right: 0.48rem;
  margin-bottom: 0.2rem;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.company-actor-list li img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.company-case {
  width: auto;
  margin: 0 0.4rem;
  height: auto;
}

.company-case-title {
  width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  padding: 0.4rem 0;
  font-size: 0.37333rem;
  color: #282828;
}

.company-case-list {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.company-case-list ul {
  margin-right: -0.4rem;
}

.company-case-list li {
  width: 4.4rem;
  height: auto;
  margin-right: 0.4rem;
  overflow: hidden;
  float: left;
}

.company-case-list div {
  width: 4.4rem;
  height: 4.4rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.company-case-list div img {
  width: 100%;
  height: 100%;
}

.company-case-list p {
  width: 100%;
  text-align: center;
  font-size: 0.34667rem;
  color: #737373;
  height: 0.48rem;
  line-height: 0.48rem;
  margin: 0.52rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.coupon {
  width: auto;
  height: auto;
  overflow: hidden;
  margin: 0 0.4rem;
  padding-top: 0.4rem;
  border-top: 1px solid #e6e6e6;
}

.coupon-frame {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border: 1px solid #f56d9d;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-bottom: 0.4rem;
}

.coupon-logo {
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(../img/mine_ticket_list_light_ico@3x.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  top: 0.52rem;
  left: 0.52rem;
}

.coupon-name {
  width: auto;
  height: auto;
  font-size: 0.48rem;
  color: #f56d9d;
  margin: 0.48rem 0 0.28rem 2.64rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.coupon-info {
  width: auto;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.45333rem;
  color: #282828;
  margin: 0 0 0.48rem 2.64rem;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.coupon-number {
  width: auto;
  height: auto;
  font-size: 0.32rem;
  color: #282828;
  margin: 0 0 0.52rem 2.64rem;
  font-weight: bold;
}

.coupon-detail {
  width: auto;
  margin: 0 0.4rem;
  font-size: 0.32rem;
  color: #a8a8a8;
  border-top: 1px dashed #a8a8a8;
  padding: 0.3rem 0;
  height: auto;
}

.coupon-detail-btn span {
  background-image: url(../img/work_yctd_info_more_ico@3x.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: relative;
  top: -1px;
  margin-left: 0.24rem;
  width: 0.28rem;
  height: 0.16rem;
}

.coupon-detail-active span {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.coupon-hide {
  display: none;
  width: auto;
  margin: 0 0.4rem;
  font-size: 0.32rem;
  color: #a8a8a8;
  padding-bottom: 0.3rem;
  height: auto;
}

.coupon-bottom {
  width: 100%;
  height: auto;
  background-color: #f56d9d;
  color: #ffffff;
  text-align: center;
  font-size: 0.4rem;
  padding: 0.4rem 0;
}

.benefit-noContent-image {
  width: 4rem;
  height: 4rem;
  margin: 2.6rem auto 1rem auto;
  border-radius: 50%;
  background-image: url(../img/no_collection_ico@3x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.benefit-noContent-text {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 0.37333rem;
  color: #a8a8a8;
  display: block;
}

/* 分享页面 */
.activity-details-btn {
  display: block;
}

.activity-details-pic {
  display: block;
}

[v-cloak] {
  display: none;
}

/**
 * 底部链接
 */
.bottom {
  width: 100%;
  height: 0.98667rem;
  padding: 0.64rem 0;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #e53573;
  z-index: 10001;
}

.bottom-logo {
  width: 2.48rem;
  height: 0.53333rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(../img/download_ywmj_logo@3x.png);
  position: absolute;
  top: 0.64rem;
  left: 0.45333rem;
  overflow: hidden;
}

.bottom-slogen {
  width: 4.89333rem;
  height: 0.33333rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(../img/download_slogn_txt@3x.png);
  position: absolute;
  top: 1.33333rem;
  left: 0.45333rem;
  overflow: hidden;
}

.bottom-btn {
  width: 2.45333rem;
  height: 0.98667rem;
  background-color: #e53573;
  color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 0.66667rem;
  right: 1.6rem;
  display: block;
  text-align: center;
  font-size: 0.37333rem;
  line-height: 0.98667rem;
}

.bottom-btn:hover {
  text-decoration: none;
}

.bottom-close {
  width: 0.4rem;
  height: 0.4rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../img/download_close_ico@3x.png);
  position: absolute;
  top: 0.18667rem;
  right: 0.53333rem;
}

.show {
  display: block;
}

/**
 * 微信下载提示
 */
.wxTips {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10002;
}

.wxTips div {
  width: 4rem;
  height: 2.13333rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../img/wxTips.png);
  position: absolute;
  top: 0;
  right: 0.53333rem;
}

/* 仿iOS toast */
.js-toast {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 30%;
}

.js-toast p {
  display: table;
  margin: 0 auto;
  text-align: center;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.37333rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
}
