@charset "UTF-8";
/**
 * 通用样式
 */
.line-index {
  width: 100%;
  height: 0.26667rem;
  background-color: #f5f5f5;
  border-top: 1px solid #e6e6e6;
}

.border-bottom {
  border-bottom: 1px solid #e6e6e6;
}

.wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1.32rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-user-select: none;
  user-select: none;
  background-color: #f5f5f5;
}

.payResult {
  bottom: 0;
  background-color: #ffffff;
}

.title {
  width: 100%;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.48rem;
  padding: 0.36rem 0;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
}

.title span {
  width: 0.56rem;
  height: 0.48rem;
  background-image: url(../img/nav_back_ico@3x.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  bottom: 0.36rem;
  left: 0.52rem;
}

.ios .content {
  top: 1.6rem;
}

.ios .title {
  padding: 0.76rem 0 0.36rem 0;
}

.pay-tips {
  width: 100%;
  height: 0.36rem;
  line-height: 0.36rem;
  padding: 0.28rem 0;
  text-indent: 0.52rem;
  font-size: 0.32rem;
  color: #f56d9d;
  background-color: #FFF4F7;
}

.pay-box {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  overflow: hidden;
}

.pay-row {
  margin: 0 0.52rem;
  width: auto;
  height: 0.52rem;
  line-height: 0.52rem;
  padding: 0.4rem 0;
  font-size: 0.37333rem;
  color: #282828;
}

.pay-list {
  margin: 0 0.52rem;
  width: auto;
  height: auto;
  overflow: hidden;
  padding-bottom: 0.4rem;
}

.pay-list li {
  width: 100%;
  height: 1.6rem;
  border-bottom: 1px solid #e6e6e6;
}

.pay-list span {
  display: block;
}

.pay-list .pay-wx-logo {
  width: 0.96rem;
  height: 0.88rem;
  background-image: url(../img/order_pay_wechat_ico@3x.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0.36rem 0.24rem;
}

.pay-list .pay-bankCard-logo {
  width: 0.96rem;
  height: 0.64rem;
  background-image: url(../img/order_pay_unionpay_ico@3x.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0.48rem 0.24rem;
}

.pay-list .pay-alipay-logo {
  width: 0.96rem;
  height: 0.8rem;
  background-image: url(../img/order_pay_alipay_ico@3x.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0.4rem 0.24rem;
}

.pay-list .pay-balance-logo {
  width: 0.96rem;
  height: 0.88rem;
  background-image: url(../img/order_pay_cash_ico@3x.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0.36rem 0.24rem;
}

.pay-list .pay-newCard-logo {
  width: 0.96rem;
  height: 0.88rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0.36rem 0.24rem;
}

.pay-item-text {
  width: 6.4rem;
  height: 0.48rem;
  line-height: 0.48rem;
  padding: 0.56rem 0;
  font-size: 0.37333rem;
  color: #282828;
  overflow: hidden;
}

.pay-item-radio {
  width: 0.48rem;
  height: 0.48rem;
  border-radius: 50%;
  margin: 0.56rem 0.2rem;
  background-image: url(../img/work_details_contact_chioce_ring@3x.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pay-item-wait .pay-item-text {
  color: #a8a8a8;
}

.pay-item-wait .pay-item-radio {
  display: none;
}

.pay-list .pay-balance-value {
  display: inline;
}

.pay-item-active .pay-item-radio {
  background-image: url(../img/work_details_contact_chioce_right@3x.png);
}

.pay-batch {
  display: block;
  width: 8.45333rem;
  height: 0.48rem;
  line-height: 0.48rem;
  padding: 0.24rem 0;
  color: #f56d9d;
  font-size: 0.37333rem;
  margin: 0 auto;
  border: 1px solid #f56d9d;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 0.4rem;
}

.bottom {
  position: absolute;
  bottom: 0;
  height: 1.32rem;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

.pay-btn {
  display: block;
  width: 9.2rem;
  height: 0.52rem;
  padding: 0.2rem 0;
  background-color: #393939;
  color: #ffffff;
  font-size: 0.4rem;
  line-height: 0.52rem;
  text-align: center;
  border-radius: 0.46667rem;
  margin: 0.2rem auto;
}

/* 身份认证支付 */
.pay-balance {
  display: none;
}

.pay-newCard {
  display: none;
}

.pay-newCard .pay-item-text {
  color: #f56d9d;
}

/* 支付结果 */
.payResult-success {
  width: 100%;
  height: auto;
  display: none;
}

.payResult-icon {
  width: 4.52rem;
  height: 4.52rem;
  overflow: hidden;
  background-image: url(../img/order_details_pay_success_ico@3x.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.8rem auto 0.36rem auto;
}

.payResult-h3 {
  width: auto;
  height: auto;
  margin-bottom: 0.36rem;
  font-size: 0.48rem;
  color: #f56d9d;
  text-align: center;
  font-weight: bold;
}

.payResult-p {
  width: auto;
  height: auto;
  margin-bottom: 0.64rem;
  font-size: 0.32rem;
  color: #a8a8a8;
  text-align: center;
}

.payResult-p span {
  color: #f56d9d;
  font-weight: bold;
}

.payResult-overplus {
  color: #f56d9d;
}

.payResult-wait {
  margin-top: 2rem;
}

.loader {
  width: 30%;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.loading-2 {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
}

.loading-2 i {
  display: block;
  border: 2px solid #333;
  border-color: transparent #333;
  border-radius: 50%;
  position: absolute;
}

.loading-2 i:first-child {
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
  -webkit-animation: loading-2 1s ease-in-out 0s infinite;
}

.loading-2 i:last-child {
  width: 15px;
  height: 15px;
  top: 10px;
  left: 10px;
  -webkit-animation: loading-2 1s ease-in-out .5s infinite reverse;
}

@-webkit-keyframes loading-2 {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
