@charset "UTF-8";
/**
 * 通用样式
 */
#cnzz_stat_icon_1260955674 {
  display: none;
}

.line-index {
  width: 100%;
  height: 0.26667rem;
  background-color: #f5f5f5;
  border-top: 1px solid #e6e6e6;
}

.wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  position: absolute;
  top: 1.2rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-user-select: none;
  user-select: none;
}

.title {
  width: 100%;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.48rem;
  padding: 0.36rem 0;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
}

.title span {
  width: 0.56rem;
  height: 0.48rem;
  background-image: url(../img/nav_back_ico@3x.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  bottom: 0.36rem;
  left: 0.52rem;
}

.blankH200 {
  height: 2.4rem;
  font-size: 0px;
  overflow: hidden;
}

.blankH200 {
  height: 2.4rem;
  font-size: 0px;
  overflow: hidden;
}

.inputBox {
  width: 7.2rem;
  height: auto;
  border-bottom: 1px solid #e6e6e6;
  margin: 0 auto 0.16rem auto;
  padding: 0 0.16rem;
  position: relative;
}

.inputBox > input {
  width: 100%;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.37333rem;
  color: #282828;
  padding: 0.48rem 0;
  border: 0;
}

.sendCode {
  display: block;
  width: 2.13333rem;
  height: 0.96rem;
  position: absolute;
  font-size: 0.37333rem;
  color: #a8a8a8;
  top: 0.2rem;
  right: 0;
  border: 1px solid #282828;
  border-radius: 3px;
  background-color: #282828;
  color: #ffffff;
}

.sendCode-invalid {
  background-color: #c3c3c3;
  color: #ffffff;
  border-color: #c3c3c3;
}

.phoneNumber {
  width: 100%;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.37333rem;
  color: #282828;
  padding: 0.48rem 0;
  border: 0;
}

.checkBox {
  width: 7.2rem;
  height: 0.6rem;
  margin: 0.8rem auto;
  position: relative;
}

.checkBox-icon {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  border: 1px solid #c3c3c3;
  position: absolute;
  top: -1px;
  left: 1.8rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.checkBox-icon-active {
  background-image: url(../img/agree_light_ico@3x.png);
}

.checkBox-text {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-indent: 1rem;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.32rem;
  color: #737373;
}

.checkBox-text a {
  color: #737373;
}

.submit {
  border-radius: 3px;
  display: block;
  width: 7.76rem;
  height: 1.28rem;
  border: 1px solid #282828;
  background-color: #282828;
  margin: 1rem auto 0 auto;
  font-size: 0.4rem;
  color: #ffffff;
}

.succTip {
  display: none;
  width: auto;
  text-align: center;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.37333rem;
  color: #f56d9d;
  margin-top: 1rem;
}

/* 仿iOS toast */
.js-toast {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 30%;
}

.js-toast p {
  display: table;
  margin: 0 auto;
  text-align: center;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.37333rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
}

.funds-mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.funds-frame {
  width: 6.66667rem;
  height: 3.30667rem;
  border-radius: 3px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 40%;
  position: relative;
  overflow: hidden;
}

.funds-frame h4 {
  width: 100%;
  text-align: center;
  height: 0.48rem;
  line-height: 0.48rem;
  margin-top: 0.82667rem;
  font-size: 0.37333rem;
  color: #282828;
}

.funds-btns {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e6e6e6;
  width: 100%;
  height: 1.17333rem;
  overflow: hidden;
}

.funds-btns button {
  display: block;
  border: 0;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  height: 1.17333rem;
  text-align: center;
  font-size: 0.45333rem;
  color: #f56d9d;
}

.funds-btns .funds-btns-cancel {
  border-right: 1px solid #e6e6e6;
}
