.newtitle {
	text-align: left;
	padding-left: 0.53333rem;
	font-size: 0.53333rem;
	font-weight: bold;
}

.title .message {
	line-height: 0.48rem;
	position: relative;
	margin-right: 0.54666rem;
}
.title .message img{
	margin-right: 0.41333rem;
	width: 0.42666rem;
	height: 0.52rem;
	vertical-align: middle;
}
.title .message .red-circle {
	width: 0.24rem;
	height: 0.24rem;
	border-radius: 50%;
	background-color: #ED316B;
	display:inline-block;
	position: absolute;
	top: -0.1rem;
	right: 0.25rem;
}
.title span{
	display: none;
}
.content{
	background-color: #f5f5f5;
}
.helpAndsafeguard{
	position: fixed;
	right: 0.4rem;
	bottom: 0.45333rem;
	z-index: 100;
}
.helpAndsafeguard a{
	display: block;
}
.helpAndsafeguard a img{
	width: 1.6rem;
	height: 1.6rem;
	display: block;
} 
.helpAndsafeguard a:last-child{
	margin-top: 0.24rem;
}
.imgList img{
	width: 100%;
	height: auto;
	display: block;
}
#mjb_info li{
	position: relative;
}
#mjb_info li a{
	position: absolute;
	margin: 0 5%;
	width: 90%;
	bottom: 0.82667rem;
	display: block;
	text-align: center;
	font-size: 0.4rem;
	height: 1.17333rem;
	line-height: 1.17333rem;
	color: #fff;
	background-color: #282828;
}