@charset "UTF-8";
/**
 * 通用样式
 */
.ti2 {
  text-indent: 2em;
}

.wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  background-color: #f5f5f5;
}

.hasTitle {
  padding-top: 1.2rem;
}

.title {
  width: 100%;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.48rem;
  padding: 0.36rem 0;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
}

.title span {
  width: 0.56rem;
  height: 0.48rem;
  background-image: url(../img/nav_back_ico@3x.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  bottom: 0.36rem;
  left: 0.52rem;
}

/* 功能介绍 */
.introduce {
  width: auto;
  height: auto;
  margin: 0.64rem 0.64rem;
  font-size: 0.37333rem;
  color: #414141;
}

.introduce p {
  line-height: 0.61333rem;
}

.footer {
  width: 100%;
  height: 110px;
  position: absolute;
  left: 0;
  bottom: 1.12rem;
}

.footer div {
  width: 100%;
  height: auto;
  font-size: 0.32rem;
  margin-bottom: 0.34667rem;
  color: #757575;
  text-align: center;
}

.footer p {
  width: 100%;
  height: auto;
  font-size: 0.29333rem;
  margin-bottom: 0.10667rem;
  color: #bdbdbd;
  text-align: center;
}

/* 功能介绍 End */
/* 用户协议 */
.userAgreement {
  width: auto;
  height: auto;
  margin: 0.64rem 0.64rem;
  font-size: 0.37333rem;
  color: #414141;
}

.userAgreement p {
  line-height: 0.61333rem;
}

.userAgreement h4 {
  font-size: 0.42667rem;
  line-height: 0.48rem;
  padding: 0.2rem 0;
  font-weight: bold;
}

/* 用户协议 End */
/* 说明页面 */
.explain {
  width: auto;
  height: auto;
  margin: 0.64rem 0.64rem;
  font-size: 0.37333rem;
  color: #414141;
}

.explain h4 {
  font-size: 0.42667rem;
  line-height: 0.48rem;
  padding: 0.2rem 0;
  font-weight: bold;
}

.explain p {
  line-height: 0.61333rem;
}

/* 说明页面 End */
/* 会员权益 */
.memberRights {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.memberRights img {
  width: 100%;
  height: auto;
}
