@charset "UTF-8";
/**
 * 主体结构
 */
.wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: #ffffff;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-user-select: none;
  user-select: none;
}

.imgBox {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
}

.imgBox img {
  width: 100%;
  height: auto;
  display: block;
}

.personal-mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.personal-mask > div {
  width: 100%;
  height: 100%;
  display: table;
}

.personal-mask > div > div {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.personal-mask video {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}

.show {
  display: block;
}

.top {
  width: 100%;
  height: 1.6rem;
  border-bottom: 1px solid #d2d2d2;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.logo {
  width: 4.97333rem;
  height: 1.30667rem;
  background-image: url(../img/topLine-logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0.14667rem;
  left: 0.42rem;
}

.btn {
  width: 3.58667rem;
  height: 0.6rem;
  line-height: 0.6rem;
  border-radius: 5px;
  background-color: #f56d9d;
  text-align: center;
  color: #ffffff;
  padding: 0.2rem 0;
  font-size: 0.45333rem;
  position: absolute;
  top: 0.30667rem;
  right: 0.42rem;
}

.frame {
  width: 60%;
  height: 64%;
  position: absolute;
  margin-left: -30%;
  top: 33%;
  left: 50%;
  overflow: hidden;
}

.list {
  width: 700%;
  position: absolute;
  top: 0;
  left: 0;
}

.list li {
  float: left;
  width: auto;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.list li img {
  width: 100%;
  height: 100%;
}
